[2015-04-08 12:44] hedefalk opened #1 "Type tooltip sometimes get's stuck and can't get rid of."
It just happened to me. Think it's because I closed a TextEditor. Probably need some hook. Look at how ide-haskell or ide-flow does it.

[2015-04-10 15:05] hedefalk opened #2 "Uncaught Error: ENOENT: no such file or directory, open 'undefined/.ensime'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.2
**Thrown From**: [Ensime](https://github.com/hedefalk/atom-ensime) package, v0.1.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open 'undefined/.ensime'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-10 15:05] hedefalk commented on #2
This is from trying to download server while not in a .ensime project. Check this and put a modal error msg?

[2015-04-10 18:28] #2 closed

[2015-04-10 18:32] hedefalk opened #3 "Uncaught TypeError: path must be a string"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.2
**Thrown From**: [ensime](https://github.com/hedefalk/atom-ensime) package, v0.1.0

### Stack Trace

Uncaught TypeError: path must be a string

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-10 18:35] #3 closed

[2015-04-14 13:20] hedefalk commented on #1
Hasn't happened for a while…

[2015-04-20 13:08] hedefalk opened #4 "Uncaught TypeError: Cannot read property 'getPath' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.192.0
**System**: Mac OS X 10.10.2
**Thrown From**: [Ensime](https://github.com/hedefalk/atom-ensime) package, v0.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-20 13:09] hedefalk commented on #4
[code]

buffer undefined?

[2015-04-21 12:01] hedefalk commented on #4
Happens when I open settings

[2015-04-21 12:12] nightscape opened #5 "Use the `atom-workspace` tag instead of the `workspace` class."
In keymaps/ensime.cson: Use the `atom-workspace` tag instead of the `workspace` class.
Because Atom tells me so :p

[2015-04-21 12:17] d6y opened #6 "Type <none>.<none>"
For some situations the hover-for-type-info shows as `<none>.<none>`.  Here's a screen grab where I'm hovering over `code` on line 15:

![fp-meets-db - atom 2015-04-21 12-47-59](https://cloud.githubusercontent.com/assets/102661/7251871/1cb8b098-e827-11e4-96ca-5c32d4abb812.png)

I also note that if I hover over `code` as my first inspection after starting Atom, I do get a type information for `code

[2015-04-21 12:21] #5 closed

[2015-04-21 12:21] hedefalk commented on #5
Thanks for reporting!

[2015-04-21 12:26] hedefalk commented on #6
Thanks for reporting!

I have noticed this too. I haven't digged really deep, but it is the Ensime server that answers this way. For me it seems to happen if I look around too much before the server has been warmed up. I was going to try to report it as an issue in Ensime server but I see it has already been reported. And with a reference to this issue I guess we can guess that it is a server issu

[2015-04-21 12:29] d6y commented on #6
The work around mentioned on the Ensime ticket seems to be some combination of keys to manually trigger the type lookup.  Is something like that worth thinking about here until it's sorted?

BTW, thanks for starting this project. Looks very interesting!

[2015-04-21 12:43] hedefalk commented on #6
Ah, will look into that!

Thanks for encouragement!

[2015-04-21 13:00] hedefalk commented on #6
@d6y That workaround doesn't help for me in either Emacs or Atom. The server basically just answers `<none>.<none>` whoever asks however. Sometimes. The same location can work just fine after a reload.

Either this is a pure server issue or some stateful thing that I've missed in Atom, like "you need to do this thing first before asking that", but since I get the same in Emacs, I'll bet server. It

[2015-04-29 13:22] hedefalk opened #7 "Failed to load the Ensime package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.194.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Ensime](https://github.com/hedefalk/atom-ensime) package, v0.5.1

### Stack Trace

Failed to load the Ensime package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-05-18 18:56] hedefalk opened #8 "Trying to compile non-scala files."
Thought I had that filtrered but just noticed it sent other files to Ensime server too…

[2015-06-09 12:13] SourceSink opened #9 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. Created Ensime files vie sbt / gen-ensime
2. started ensime in Atom

**Atom Version**: 0.207.0
**System**: FELIX-SURFACE
**Thrown From**: [Ensime](https://github.com/hedefalk/atom-ensime) package, v0.5.1

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-09 13:37] hedefalk commented on #9
Thanks for reporting!

Weird:

https://atom.io/docs/api/v0.207.0/Project

tells me: "An instance of this class is always available as the atom.project global."

while your error tells me that atom.project is undefined:

https://github.com/hedefalk/atom-ensime/blob/master/lib/ensime.coffee#L19

Need to investigate!

By the way, how did you open atom - on a file or on the folder?

[2015-06-09 13:40] felixnext commented on #9
I did open it through a folder.

The project is an activator template, running on scala.

Also I installed the sbt plugin globally.

Von: Viktor Hedefalk [mailto:notifications@github.com]
Gesendet: Dienstag, 9. Juni 2015 15:38
An: hedefalk/atom-ensime
Cc: SourceSink
Betreff: Re: [atom-ensime] Uncaught TypeError: undefined is not a function (#9)

Thanks for reporting!

Weird:

https://atom.io/docs/

[2015-06-09 14:29] hedefalk opened #10 "Typechecks on keystrokes like alt-tab"
Don't.

[2015-06-09 15:02] hedefalk commented on #4
Probably it's because the EditorControl does a dispatch to the comman "typecheck-buffer". Which is then evaluated later when the buffer has changed. Shouldn't.

[2015-06-09 15:10] #4 closed

[2015-06-09 15:11] hedefalk commented on #1
Think this is gone

[2015-06-09 15:14] hedefalk commented on #9
I asked here: https://discuss.atom.io/t/atom-project-undefined/17556

I haven't been able to reproduce. If you wait a moment before starting Ensime, do you still get it?

[2015-06-09 15:52] felixnext commented on #9
I just tried and it leads to the same result.

I also noticed that, even though it throws an exception, the stop command becomes available after start is called the first time.

Thanks for looking in to it!

Von: Viktor Hedefalk [mailto:notifications@github.com]
Gesendet: Dienstag, 9. Juni 2015 17:15
An: hedefalk/atom-ensime
Cc: SourceSink
Betreff: Re: [atom-ensime] Uncaught TypeError: undefined i

[2015-06-09 16:51] #10 closed

[2015-06-10 07:59] hedefalk commented on #9
Ah, the problem is that `atom.project.getPath()` is removed after a while in deprecation. Instead we have `atom.project.getPaths()` which gives an array. I don't know much about this, but it seems that a "project" in atom then can have many directories attached to it. I was using the assumption that you open up _a_ directory containing a .ensime file. I guess this needs better look through but for

[2015-06-10 07:59] #9 closed

[2015-06-10 07:59] hedefalk commented on #9
Fixed in 0.7.0

[2015-06-10 08:07] hedefalk commented on #9
Oh, don't have any better channel, but wait a bit more before trying again. I have new errors after upgrading atom… I'll be back!

[2015-06-10 08:12] hedefalk opened #11 "Package.activateResources is deprecated."
The context menu CSON format has changed. Please see
https://atom.io/docs/api/latest/ContextMenuManager

[2015-06-10 08:15] felixnext commented on #9
Alright. Also Thanks for the fast reply. Awesome job!

Von: Viktor Hedefalk [mailto:notifications@github.com]
Gesendet: Mittwoch, 10. Juni 2015 10:08
An: hedefalk/atom-ensime
Cc: SourceSink
Betreff: Re: [atom-ensime] Uncaught TypeError: undefined is not a function (#9)

Oh, don't have any better channel, but wait a bit more before trying again. I have new errors after upgrading atom… I'll be back!

[2015-06-10 15:11] SourceSink opened #12 "Uncaught TypeError: Cannot read property 'clear' of undefined"
[Enter steps to reproduce below:]

1. Started Atom in folder mode with a project with an ensime file
2. Tried to stop ensime

**Atom Version**: 0.208.0
**System**: FELIX-SURFACE
**Thrown From**: [Ensime](https://github.com/hedefalk/atom-ensime) package, v0.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'clear' of undefined

[code]

### Commands

[code]

### Config

[code]

### Inst

[2015-06-10 15:12] felixnext commented on #9
Hey, I just tried 0.8. Ensime is now starting, however there is an error during the startup of the server:

[info] Done updating.
[error] [C:\Users\Felix.atom\packages\Ensime\ensime_update_\build.sbt]:24: invalid escape character
Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore?

Which leads to this sbt line:
val out = file("C:\Users\Felix.atom\packages\Ensime/classpath_2.10.4_0.13.5")

[2015-06-10 15:51] hedefalk opened #13 "Getting warnings from libraries source code…"
I clicked into lift's CssCel trait and after that I get

(:scala-notes (:is-full nil :notes ((:severity warn :msg "a pure expression does nothing in statement position; you may be omitting necessary parentheses" :beg 29353 :end 29357 :line 899 :col 42 :file "/Users/viktor/dev/projects/ensime-test-project/.ensime_cache/dep-src/source-jars/net/liftweb/util/CssSel.scala"))))

from server.  Doesn't se

[2015-06-10 15:52] hedefalk commented on #13
Look how Emacs does it, can I filter what kind of messages I want from server or do I filter client side if I don't want it to report on libs? Or is it me that have asked to typecheck the file explicitly?

[2015-06-10 16:01] hedefalk commented on #9
Thanks for reporting! I'll have a look as soon as I get some power back
into my laptop...

ons 10 jun 2015 17:12 SourceSink notifications@github.com skrev:

[2015-06-10 17:32] hedefalk opened #14 "Slash in windows path not ok?"
Taken from #9:

Hey, I just tried 0.8. Ensime is now starting, however there is an error during the startup of the server:

[info] Done updating.
[error] [C:\Users\Felix.atom\packages\Ensime\ensime_update_\build.sbt]:24: invalid escape character
Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore?

Which leads to this sbt line:
val out = file("C:\Users\Felix.atom\packages\Ensime/classpath

[2015-06-10 17:49] hedefalk commented on #14
@SourceSink If you have the time, please try 0.8.1. My guess is that my hardcoded "/" was problematic so https://github.com/hedefalk/atom-ensime/commit/6a0ec547633a9dc078f59ea9c7579b7e074251aa

but it's hard to test without Windows... If there's still problems, maybe you could help me by editing your

C:\Users\Felix.atom\packages\Ensime\ensime_update\build.sbt folder to figure out the correct Wind

[2015-06-10 17:54] hedefalk commented on #12
The problem here is that the Stop:ensime command is available when it shouldn't be. I haven't thought this through really, but I think the Stop:ensime needs to de-activate the plugin. There is something called activation commands in atom and Ensime:start is a such. When that has been run, the rest of the commands becomes available. Ensime:stop however doesn't remove the commands so you can run it

[2015-06-10 19:14] felixnext commented on #14
I tried 0.8.1 however the error remains. Also the sbt file seems to be re-generated every time ensime is started from Atom.

I tried to hardcode the changes, yet they get overwritten as soon as I execute Ensime: Start. When I try to run sbt in the ensime_update folder I get the following exception:

[warn]  ::::::::::::::::::::::::::::::::::::::::::::::

[warn]  ::          UNRESOLVED DEPENDENCIES

[2015-06-10 21:19] hedefalk commented on #14
Yeah, it will be overwritten every time you do update server.

But the version seems super-weird. org.ensime#ensime_2.10;0.13.5: sounds like ending with a sbt version, not the ensime server version. So it's not weird sbt can't resolve it.

My ~/.atom/packages/Ensime/ensime_update_/build.sbt has:

libraryDependencies += "org.ensime" %% "ensime" % "0.9.10-SNAPSHOT"
and
val out = file("/Users/viktor/

[2015-06-10 21:21] hedefalk commented on #12
I guess this needs some thinking through:

https://discuss.atom.io/t/how-to-deactivate-my-package/17599/3

[2015-06-10 21:57] hedefalk commented on #13
Answer: Atom have not asked Ensime to typecheck that file, it does it anyways.

[2015-06-12 08:20] felixnext commented on #14
Is the hardcoded version published yet?

Also how can I try to change the path, when the file is overwritten every time I start ensime?

Von: Viktor Hedefalk [mailto:notifications@github.com]
Gesendet: Mittwoch, 10. Juni 2015 23:20
An: hedefalk/atom-ensime
Cc: SourceSink
Betreff: Re: [atom-ensime] Slash in windows path not ok? (#14)

Yeah, it will be overwritten every time you do update server.

B

[2015-06-12 09:49] hedefalk commented on #14
@SourceSink Sorry, I think I need to explain this a little further. And thank you for your patience, I know it's no fun at all when you want to try a tool out and it just doesn't work. I really appreciate your reporting since I haven't had a chance to try Windows out.

When you run Ensime:start, the client looks at your .ensime's scala version and plugin settings ensime version, in my case 2.10.4

[2015-06-12 09:55] felixnext commented on #14
The problem seems to be that the file is regenerated whether it is present or not. Can you try to use triple quotes on the class path in the template?

So the line looks like this:

val out = file(\”\”\"#{classpathFile}\”\”\")

That might solve the problems with the escape character.

For the versioning: I use sbt 0.13.5 and have generated the ensime file from there. Also the project uses Scala 2.

[2015-06-12 10:11] hedefalk commented on #14
I'm not sure what you mean - yes the .sbt file is regenerated, but that shouldn't be an issue if you follow my instructions in my previous comment…?

But I'll suggest one of the following:

1)
Move the file ~/.atom/packages/Ensime/ensime_update_/build.sbt somewhere else and edit away. Then try to run "sbt saveClasspath clean" on it and when you have a working one, please report back and I'll try t

[2015-06-12 10:13] hedefalk commented on #14
Could you by the way post both your .ensime and the build.sbt that Atom generates? Might be helpful if I overlooked something.

[2015-06-12 10:48] #11 closed

[2015-06-12 13:04] #12 closed

[2015-06-12 14:36] felixnext commented on #14
I went with directly editing the coffee script and actually got it to work. My coffee script looks like this:

# Download and startup of ensime server

fs = require('fs')

path = require('path')

{sexpToJObject} = require('./swank-extras')

{exec, spawn} = require('child_process')

lisp = require('./lisp')

{log, modalMsg, projectPath} = require('./utils')

EnsimeServerUpdateLogView = require('./v

[2015-06-13 14:49] laughedelic opened #15 "Filter out colour codes in the server update log"
This is more or less how the log appears to me:

[code]

Could you set the [`sbt.log.noformat`](http://www.scala-sbt.org/0.13/docs/Combined+Pages.html#Command+Line+Options) option to `true` to filter out those ANSI codes?

[2015-06-13 15:05] laughedelic opened #16 "Plugin creates empty scala_2.11 folders"
When I start the server it creates empty `src/main/scala-2.11` and `src/test/scala_2.11` folders:
![screen shot 2015-06-13 at 17 03 49](https://cloud.githubusercontent.com/assets/766656/8144805/5364eb84-11ee-11e5-8f34-4e7e1d26b373.png)

[2015-06-13 18:31] hedefalk commented on #16
Can you post your .ensime? I think I need to re-assign this to the server, but I think your .ensime will help anyways.

[2015-06-13 18:35] hedefalk commented on #15
Yeah, that bugged me too, but I didn't want to spend any time on it. Thanks for the tip, will try it!

[2015-06-13 18:38] #15 closed

[2015-06-13 18:39] hedefalk commented on #15
Worked like a charm! Thanks!

[2015-06-13 18:40] hedefalk commented on #14
Ok, one more question:

how did the line

val out = file("""C:\Users\Felix.atom\packages\Ensime\classpath_2.10.4_0.13.5""")

 look when it was generated and didn't work? Was there one double backslash in the end?

[2015-06-13 18:41] hedefalk commented on #14
And again 0.13.5 is just wrong. That is an sbt version, there is no such Ensime version. I have no idea how this could get in there in any other way than that you have put it in atom package settings?

[2015-06-13 18:48] hedefalk commented on #14
Ok, according to https://github.com/hedefalk/atom-ensime/issues/14#issuecomment-110882805 I think you have the exact problem with the auto-generated one since I made the change in 0.8.1 and your hand-written. So I will close this issue. The path separator is correct it seems. The issue you have now is that you have a sbt version number in place of a ensime server version.

Feel free to open anothe

[2015-06-14 19:36] hedefalk commented on #6
I just noticed that it often gets better after a forced "typecheck all". In my test project it starts to show types on everything :) Maybe this is something the Emacs client does automatically…

[2015-06-15 00:38] laughedelic commented on #16
Ok. Here it is:

[code]

[2015-06-15 01:07] laughedelic commented on #15
:+1:

[2015-06-15 07:54] hedefalk commented on #16
You have a few scala_2.11 folders in your :source-roots:

 :source-roots ("/Users/laughedelic/dev/ohnosequences/scarph/src/main/scala" "/Users/laughedelic/dev/ohnosequences/scarph/src/test/scala" "/Users/laughedelic/dev/ohnosequences/scarph/src/test/scala-2.11" "/Users/laughedelic/dev/ohnosequences/scarph/src/test/java" "/Users/laughedelic/dev/ohnosequences/scarph/src/main/scala-2.11" "/Users/laug

[2015-06-15 07:54] #16 closed

[2015-06-15 07:58] hedefalk opened #17 "No declPos of symbolic methods"
This is due to the fact that there is no :pos in the answer from Ensime.

I guess I'm doing it wrong. I also think there is an issue that I'm asking the wrong thing. For instance:

[code]

Clicking on the call to foo will jump to scala.Int which is obviously wrong. I jump to the type of the expression and not to it's definition.

[2015-06-15 08:54] hedefalk commented on #16
Ok, I noticed that I too get these 2.11 folders with gen-ensime so I guess this is sbt default:

:source-roots ("/Users/viktor/dev/projects/ensime-test-project/src/main/scala-2.11" "/Users/viktor/dev/projects/ensime-test-project/src/main/java" "/Users/viktor/dev/projects/ensime-test-project/src/test/scala-2.11" "/Users/viktor/dev/projects/ensime-test-project/src/main/scala" "/Users/viktor/dev/proj

[2015-06-15 09:14] fommil commented on #16
This is intended behaviour because `sbt` is reporting those folders as genuine source folders. If you don't want ENSIME to create them, then you'll have to tell `sbt` to not add them to your classpath.

[2015-06-15 09:15] fommil commented on #6
yup, this happens when the analyser is not yet ready. I'd recommend not doing hover overs until the analyser is ready (and perhaps even filtering this exact response and not showing it)

[2015-06-15 09:17] fommil commented on #13
I think we automatically add sources to the typechecker if we expand them out.

Maybe a feature request here to wait for the editor to ask to typecheck the file. BTW, if the file is not typechecked then it is not possible to use `M-.` to continue jumping to source.

[2015-06-15 09:19] fommil commented on #16
(FWIW, this annoys me as well ... so I'd actually really like to know how to tell `sbt` **not** to report these folders as valid source roots).

We could potentially filter source directories in `sbt` if the directory doesn't exist when `gen-ensime` is called... but then we get into a chicken or egg situation where the user has to create a file in a new module before the `.ensime` file will includ

[2015-06-15 10:31] hedefalk commented on #13
Hm, yeah. I think there's definitely a feature request here. I think you want to be able to do code navigation by clicking around, but don't want to be bothered by warnings in third-party libs.

[2015-06-15 10:32] hedefalk commented on #13
Of course, it would be rather simple to do a client side filtering of the messages…

[2015-06-15 10:42] hedefalk commented on #6
I'm going to do a little rehaul on the Atom package's "state". Atom's normal way with "activation commands" doesn't seem to support things like stopping your package so that whole thing is a bit broken at the moment. For instance you can do "start ensime, stop ensime, stop ensime again" (no commands are removed when deactivating the package) . I therefore need to do some kind of manual handling of

[2015-06-15 10:46] laughedelic commented on #16
I've tried to filter `sourceDirectories` in sbt:

[code]

but it doesn't change anything in the generated `.ensime`. Probably it uses some other setting?

[2015-06-15 10:55] fommil commented on #13
yeah, just ignore the semantic warnings... we get it for free on the server side so it wouldn't be worth implementing the filtering there. I expect you will still want semantic highlighting, type information, and source navigation.

[2015-06-15 10:57] fommil commented on #16
interesting. I think you might need to do the same for `Test` and `IntegrationTest` for this to work (and if it does work, I'm totally stealing your snippet :stuck_out_tongue: )

https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala#L168

[2015-06-15 11:07] laughedelic commented on #16
Well, this helps:

[code]

but in the [here](https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala#L124-L129) is an interesting comment. `managedSourceDirectories` are filtered, but not `unmanagedSourceDirectories`.

[2015-06-15 11:48] hedefalk commented on #13
#TODO: Just client filter on `**/.ensime_cache/**` with a setting default to true.

[2015-06-15 12:05] fommil commented on #16
yeah, not sure we should be filtering in `ensime-sbt` config.

[2015-06-15 12:06] fommil commented on #16
maybe this should be an `ensime-sbt` config parameter. Don't filter by default and then flip it to filter all non-existant source dirs.

You seem to know sbt reasonably well, would you like to send us a PR for that?

[2015-06-15 12:28] hedefalk commented on #16
Hm, aren't we opening a can of worms if we start filtering these directories? I mean with managedSourceDirectories that are used from generated code which may or may not be there at the time you do gen-ensime? (i.e. you have to do sbt compile before sbt gen-ensime on a newly checked out source tree?)

But then again, there is already a filter on managedSourceDirectories so my suggested issue is al

[2015-06-15 12:34] fommil commented on #16
we can't listen for file changes or register the root with the presentation compiler unless it exists, so we'd just shunt the problem somewhere else.

If we:
1. don't filter anything by default in `gen-ensime` (needs a fix for managed sources)
2. introduce a user option to filter out non-existant source directories

then we should be good.

For the managed sources, we'd typically want to be loadin

[2015-06-15 12:44] fommil commented on #16
@laughedelic let me know if you plan to raise a PR to `ensime-sbt`, otherwise I'll do this tonight.

This will also require updating the ENSIME user guide, and probably an FAQ as well.

[2015-06-15 12:49] fommil commented on #16
actually, bugger it, maybe the default behaviour should be to skip directories that don't exist but to emit a single log message after running to say something like "10 source directories will be invisible to ensime because they do not yet exist. Create the directory and re-run `gen-ensime` if you intend to use any of : `<print directories>`".

[2015-06-15 13:10] fommil commented on #17
there are a couple of outstanding problem with jump-to-source. https://github.com/ensime/ensime-server/issues/835 https://github.com/ensime/ensime-server/issues/775

Create tickets on the server repo if you have some reproducible cases.

[2015-06-15 13:24] hedefalk commented on #17
@fommil Since I'm still using the swank protocol, is there any place other than: https://github.com/ensime/ensime-server/blob/master/swank/src/main/scala/org/ensime/server/protocol/swank/SwankProtocol.scala to browse? There used to be a little documentation there…

[2015-06-15 13:29] hedefalk commented on #17
@fommil Reason I ask is I think I use "type-at-point" but should use "symbol-at-point". I used to look in that file to "browse" the api, but it's a bit harder now with just:
https://github.com/ensime/ensime-server/blob/master/swank/src/main/scala/org/ensime/server/protocol/swank/SwankProtocol.scala#L233

[2015-06-15 13:53] fommil commented on #17
https://github.com/ensime/ensime-server/tree/master/api/src/main/scala/org/ensime <= these are the API docs

[2015-06-15 13:55] fommil commented on #17
Btw, I have a PR soon that will remove `EnsimeApi` and put the docs on the `incoming.scala` messages. That should make it a lot easier for you, oh and JSON :wink:

[2015-06-15 14:01] fommil commented on #17
here for examples of the S-Exp => https://github.com/ensime/ensime-server/tree/master/swank/src/test/scala/org/ensime/server/protocol/swank

[2015-06-15 14:15] laughedelic commented on #16
@fommil alright, I can send a PR, but probably not today. Honestly, I don't know anything about how ensime works, but this just about sbt and seems to be easy. I think what you suggest in the last comment is quite a good solution.

[2015-06-15 14:32] fommil commented on #16
@laughedelic I have a patch in mind already, I'll merge it tonight. You can use the SNAPSHOT of the `ensime-sbt` when it is merged and if it works, I'll make a final release.

If you're proficient with sbt, we'd **really** appreciate some help with the sbt tickets https://github.com/ensime/ensime-server/issues?q=is%3Aopen+is%3Aissue+label%3Asbt-plugin

[2015-06-15 14:48] laughedelic commented on #16
@fommil ok, I see https://github.com/fommil/ensime-sbt/commit/147315e0e4962e5355fc40b51a5576bfd1548db0 already :+1:

I'd like to help with the sbt-related tickets. Not sure I will have time in the nearest future, but I'll keep an eye on it :wink:

[2015-06-15 15:09] fommil commented on #16
try the 0.1.7-SNAPSHOT of the plugin in about 10 minutes and let me know if it works for you.

[2015-06-15 19:07] hedefalk commented on #17
Awesome, thanks!

[2015-06-15 19:45] hedefalk commented on #17
@fommil I'll ask here. The tests seem to state just that both :pos and :decl-pos should be nil when using symbol-at-point or type-at-point. How am I supposed to get the declaration position of symbols or types?

I think my code worked before, but now it is :nil and since the tests suggests that's correct, I guess I should use something different?

[2015-06-15 19:50] fommil commented on #17
`symbol-at-point` is how emacs does it. If they come back `nil` then you're hitting a bug in the server. Does it ever work? It definitely works for me (mostly) because I use it all the time.

[2015-06-15 19:52] fommil commented on #17
try running up the server against the server code itself, if you can give me some examples of where it fails that would be good (although there are a few known failure cases that should be easy to fix when I have the time...)

[2015-06-15 19:53] hedefalk commented on #17
Never works on my current test project.

But I don't get it though, the test strings seems to suggest that this is the expected behaviour:

https://github.com/ensime/ensime-server/blob/master/swank/src/test/scala/org/ensime/server/protocol/swank/SwankTestData.scala#L22

Or does nil there just get interpreted somewhere to mean "we don't care about the value"?

[2015-06-15 19:54] hedefalk commented on #17
I'll try it against ensime-server tomorrow! Need to get to bed :)

[2015-06-15 19:56] fommil commented on #17
yeah, tests are just about checking the marshalling. Is your test project on github? I can have a look and see if it works for me.

[2015-06-15 19:58] hedefalk commented on #17
I can put it up, it's just a couple of files I started typing. Be right back.

[2015-06-15 20:00] hedefalk commented on #17
https://github.com/hedefalk/ensime-test-project

[2015-06-15 20:02] hedefalk commented on #17
Sorry though, really got to hit the sack! Thanks for looking at it!

[2015-06-15 20:09] hedefalk commented on #17
I left .ensime in there just so you could have a look at it if it was something going on there.

[2015-06-15 20:10] fommil commented on #17
here's an example for you from the `ensime-server` code itself

[code]

and here's an example from your test project (`Foo.scala` `symbol-at-point` over `foo` in the definition of `def bar`)

[code]

(truncated in the logs... there is a way to get the full message from emacs, but I can't recall how)

I hope that helps!

[2015-06-15 20:17] hedefalk commented on #17
Ah, sorry, that seems to work for me too! But not for any of the library things I tested, just my local stuff. For instance:

[code]

and

[code]

Maybe these are both cases of two short symbol names?

[2015-06-15 20:36] rorygraves commented on #17
Well done @fommil for being so quick - I'm trying to debug similar issues on the sublime side, but I think that may be my ineptness rather than anything deeper so far.

[2015-06-16 09:07] hedefalk opened #18 "Errors hovering on some imports…"
[code]

error in callback: TypeError: Cannot read property ':arrow-type' of null

I get just (:ok nil) on java.util.File

[2015-06-16 09:27] fommil commented on #18
this is all sounding very odd --- it works in emacs. Can you maybe post your server log to gist?

Is this all after receiving the "typecheck ready" message, etc.

[2015-06-16 09:30] fommil commented on #18
oh, this is a bug! Well spotted.

Looks like `type-at-point` doesn't work over import statements.

[2015-06-16 09:31] fommil commented on #18
This issue was moved to ensime/ensime-server#997

[2015-06-16 09:31] #18 closed

[2015-06-16 09:33] d6y commented on #6
Just wanted to comment that I'm on 0.9.0 of this plugin, and after running ensime-start, seeing ensime update, and then getting the "Full typecheck finished!" message, things are looking much better.

I've only seen the `<none>.<none>` tooltip when I opened a _build.sbt_ file, and only in that file.  Which probably isn't a surprise.

Thank you.

[2015-06-16 09:35] fommil commented on #6
oh, yeah, support for the build files (and even then just `.scala` files) depends on a separate ENSIME server (it's a totally different classpath and scala version) with its own config (which currently is blocked by my lack of `sbt` foo) https://github.com/ensime/ensime-server/issues/669

[2015-06-16 19:32] hedefalk commented on #8
Still happens:

 (:swank-rpc (swank:type-at-point "/Users/viktor/.atom/styles.less" 227) 4)
21:27:04.287 [ENSIME-akka.actor.default-dispatcher-8] INFO  o.e.s.protocol.swank.SwankProtocol - Writing: (:return (:ok (:arrow-type nil :name "<notype>" :type-id 1 :decl-as nil :full-name "<none>.<none>" :type-args nil :members nil :pos nil :outer-type-id nil)) 4)

[2015-06-16 19:32] hedefalk commented on #8
I think the type-at-point makes the file get added and later typechecked.

[2015-06-16 19:39] #8 closed

[2015-06-18 11:54] hedefalk opened #19 "Try to use code-links for code navigation"
I've made a modification to support full editor and not just text in:

https://github.com/hedefalk/code-links

Todo is:

1) use symbol-designations to put out the links
2) use type-at-point/symbol-at-point to resolve link

@fommil Is it possible to extend other methods than typecheckFile to use SourceFileInfo rather than just the fileName?

In this case it would be awesome if:

def symbolDesignati

[2015-06-18 12:14] fommil commented on #19
all the methods should probably take a `SourceFileInfo` to be honest. Should be easy to add. I'm in the middle of a refactor that will make it super easy to add new protocol endpoints... you can even have a go yourself.

[2015-06-18 13:49] hedefalk commented on #19
Almost had the feeling that was the case. And that's awesome!

Yeah, I just need a working Scala editor before I can do that… :)

[2015-06-18 13:50] hedefalk commented on #19
I'll try using Idea. My fan is spinning extensively on JerkFormats.scala… :)

[2015-06-18 15:12] fommil commented on #19
check out `PatchSourceReq`. That lets you patch files (in the analyser) that haven't been saved yet.

[2015-06-18 15:14] hedefalk commented on #19
@fommil Cool!

Super-newb question:

When doing publishLocal on ensime-server it publishes to ~/.ivy/local, but when generating classpath file from I still get it resolved to ~/.ivy/cache which I by the way had to clean the other day to get the latest published version as well...

How do you do it while working on the server?

[2015-06-18 15:17] hedefalk commented on #19
Hm, I used dirty-money cleanCache which seems to do the trick…

[2015-06-18 15:52] hedefalk commented on #19
@fommil Sorry do bomb you with questions all the time, but here's another one:

I struck some encoding issues when sending :contents with the modified version of symbolDesignations (https://github.com/hedefalk/ensime-server/commit/9610a93b24681fab8b079e752ff96ab1378fd34c)

I then noticed that I have the same problem with "typecheckFile" if I send the buffer:

[code]

I'm pretty damn sure I had thi

[2015-06-18 15:54] fommil commented on #19
are you sure you're not double quoting the file name?

[2015-06-18 15:59] edani commented on #19
@hedefalk   If that helps, the current process with ensime-emacs is:
- call "swank:typecheck-file" which does take a patched file (more precisely, it takes the entire file contents as a string). This tells the scala pres. compiler to us the new file contents when performing the type check.
- then call "swank:symbol-designations" with just the filename.
  The call to symbol-designations doesn't rel

[2015-06-18 16:00] hedefalk commented on #19
I'm pretty sure that's not the issue:

I have two versions:

[code]

The later works fine:

[code]

while the first breaks:

[code]

I have some kind of deja vú but I thought I had it correct and my this typechecking code I haven't thouched for a while…

[2015-06-18 16:00] hedefalk commented on #19
AAAAh, it's those damn : that I put in the end instead of beginning. Problematic to work with js/json and swank simultaneously…

[2015-06-18 16:04] hedefalk commented on #19
@fommil Sorry to use you as a rubber duck :)

Got some designations working now:

[code]

[2015-06-18 16:05] fommil commented on #19
sweet. I should get some time to work on my PR tonight, which should really simplify the codebase and documentation.

[2015-06-18 16:07] fommil commented on #19
also, I think JSON is **really** close (like, maybe in the PR close)

[2015-06-18 16:18] hedefalk commented on #19
Awesome! @edani Thanks for the clarification! That helps!

Probably my commit on server is really unnecessary. The code-link package I'm using for Atom only does this annotating on save/open anyways so I need to modify that a bit to be able to add links/syntax highlights while typing.

I think my plan now is to craft my own thing which adds links and does syntax-highlighting at the same time with

[2015-06-18 16:27] hedefalk commented on #19
@edani
A follow-up question:

Is it possible in any way to typecheck ONE file while not really modifying the global state affecting other files in the build. What I'm after is that I think IDE:s like Eclipse have this distinction that it can typecheck a file locally while typing. But only when you hit save will the changes propagate to the build affecting dependents. So I can for edit file A and r

[2015-06-18 16:28] fommil commented on #19
you want `TypeCheckFileReq` :wink:

Eric, are we using the file patching at all in emacs? If not, maybe we should just drop it?

[2015-06-18 19:09] edani commented on #19
@fommil   We're not using the file patching at all. My opinion is that:
- the cost of running the pres.compiler is much higher than the cost of transmitting the entire file contents
- it would be difficult for emacs to keep track of incremental changes to the buffer since the last time a file was patched.

so file patching could be dropped unless we want to support running a remote ENSIME  over a

[2015-06-18 19:10] aemoncannon commented on #19
+1 in hindsight client complexity for patching is too high

On Thu, Jun 18, 2015, 2:09 PM Eric Daniel notifications@github.com wrote:

[2015-06-18 19:20] fommil commented on #19
and even if we're running over a slow network there are probably other solutions we could look at.

OK, cool, I'll remove the patching from the API in my current PR... which is very nearly ready to be raised.

[2015-06-18 19:45] edani commented on #19
@hedefalk  ENSIME already checks only a subset of the project's file. When you call TypeCheckFileReq, the following happens:
1) ENSIME server adds the file to its list of files to typecheck
2) it runs a typecheck on the whole list  (that is, all files that were added using TypeCheckFileReq)

There is a call RemoveFileReq  to remove a file that was previously added, a call
UnloadAllReq to unload ev

[2015-06-18 19:58] hedefalk commented on #19
@fommil I am using swank:typecheck-file which is translated to TypecheckFileReq, right?

However, that makes the patched unsaved changes get propagated to the full build, no? I mean, here I make a unsaved change to Foo and then I get an error on Bar since Bar doesn't compile after the change of Foo:

[code]

@edani Ok, the above is because I have added Bar by calling typecheck on it before. Howeve

[2015-06-18 20:05] hedefalk commented on #19
@edani The wiki page made a lot more sense now when I have come a bit further. Thanks! I've read it before, but didn't get as much out of it then. Would be awesome if the Emacs commands could be followed by the actual server msg. Is there a one-stop place to cross-reference the Emacs commands?

[2015-06-18 20:23] fommil commented on #19
I suspect this will get a lot easier for you when you can turn on JSON as the mapping from the case classes to the JSON will be a lot simpler.

[2015-06-18 21:27] hedefalk commented on #1
Still happens when doing jump to definition.

[2015-06-23 07:42] hedefalk opened #20 "Hover for type sometimes gets wrong position."
Seems to happen a bit down on large lib files for instance.

Need to revisit this whole "getOffsetForMousePosition" thing. Again, look at typescript-atom or omnisharp-atom.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22811119-hover-for-type-sometimes-gets-wrong-position?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_mediu

[2015-06-23 08:41] hedefalk opened #21 "Server dies on probable erroneous swank from atom client"
Looks bad:

Exception in thread "Thread-10" java.lang.NumberFormatException: For input string: "002c2("

Seems like some kind of off-by-one on the length-string of the swank, right?

Maybe should just move to jerk.

[2015-06-23 08:43] fommil commented on #21
btw, we now have JSON protocol in master, start the server with `-Densime.protocol=jerk`, and lots of documentation
- https://github.com/ensime/ensime-server/blob/master/api/src/main/scala/org/ensime/api/incoming.scala

  and lots of examples of the protocols:
- https://github.com/ensime/ensime-server/blob/master/jerk/src/test/scala/org/ensime/jerk/JerkFormatsSpec.scala
- https://github.com/ensime

[2015-06-23 08:43] rorygraves commented on #21
Unicorn issue? Here would have the same issue until we have webs sockets as you until then we need to handle message boundaries.

Sent from my iPhone

[2015-06-23 08:53] hedefalk commented on #21
Yeah, I'm going to try to move to jerk! I'm just gonna try to rebase my small "symboldesignations with file content" addition upon it if it's not too hard… Otherwise easy to redo.

[2015-06-23 09:15] fommil commented on #21
LOL "unicorn issue" => "unicode issue"

[2015-06-23 09:24] hedefalk commented on #21
How do you guys handle server updates in Emacs by the way? I just realized I need some way to "clean cache" of classpath-files. I just check if classpath file is there and if not I generate with sbt. But now it's of course there, but that old one gives me NoClassDefFound of course:

java.lang.NoClassDefFoundError: org/ensime/config/EnsimeConfigProtocol

I have a manual command "updateEnsimeServer"

[2015-06-23 09:25] hedefalk commented on #21
I was just about to ask what unicorn meant in this context :)

[2015-06-23 09:31] fommil commented on #21
we have a method `ensime-update` that does it, but we also check the timestamp of the classpath file to see if it is older than the emacs code so that when the user updates the emacs client, the server will get autorefreshed next time they start ensime.

[2015-06-23 10:47] hedefalk commented on #21
Ah, that's what I should do too!

@fommil could you point me to how I set the rpc-counter in jerk?
I mean, right now I have something like:
`swankMsg = buildMessage("(:swank-rpc #{msg} #{@ensimeMessageCounter})")`

where to counter maps back to my callback. If I look at:

`case class RpcRequestEnvelope(req: RpcRequest, callId: Int)`

I would guess:

`{"req": theReq, "callId": ensimeMessageCounter}

[2015-06-23 10:58] fommil commented on #21
that looks right

[2015-06-23 11:07] hedefalk commented on #21
Ah, I still need the swank-envelope.

[code]

Question: does the messages always come in entirety? I used this swank-js thing I found, but it seems to handle streaming in a way that I don't think is used or is it:

https://github.com/ensime/ensime-atom/blob/master/lib/swank-protocol.js#L56

I naively ditched the whole thing just now, but I guess I need it still in some form at least :)

[2015-06-23 11:45] hedefalk commented on #21
@fommil

I get a soe on protocol loop sending this msg:

000030{"req": {"typehint":"InitProject"}, "callId": 1}

[code]

But I realized that one is gone, right? Thought I should post anyway since soe.

I tried instead with ConnectionInfo

`000036{"req": {"typehint":"ConnectionInfoReq"}, "callId": 1}`

[code]

[2015-06-23 11:47] hedefalk commented on #21
Seems that code is not at all intended for a RpcResponse with callId but only for the inner msgs?

[2015-06-23 11:50] hedefalk commented on #21
And "0.8.15" in https://github.com/ensime/ensime-server/blob/master/api/src/main/scala/org/ensime/api/outgoing.scala#L528
?

[2015-06-23 12:13] fommil commented on #21
oh crap, yeah JSON is borked. Thing is I couldn't test it on the TCP endpoints.

[2015-06-23 12:15] fommil commented on #21
it's an easy fix, but you'll have to `publishLocal` your own server (I'll give you a patch / branch to use very soon. If you could test it that would be awesome, then we'll get it merged quickly)

[2015-06-23 12:17] fommil commented on #21
in `JerkProtocol` change it to

[code]

This is all temporary code until we get `WebSocket`s anyway, just so you can use JSON asap instead of waiting.

[2015-06-23 12:20] fommil commented on #21
BTW, expected length of message is always 6 characters in hex for both SWANK and JERK. In 8 unicorns :stuck_out_tongue:

[2015-06-23 13:24] hedefalk commented on #21
Seems to work now!

[2015-06-23 13:27] fommil commented on #21
cool, merged to master. Will be available as the main release in about 30 mins.

[2015-06-23 13:53] hedefalk commented on #21
[code]

It still dies on this last TypeAtPointReq with a SOE:

[code]

Since it seems to take a range now (used to be a point) I just hardcoded the same offset for now.

[2015-06-23 14:31] hedefalk commented on #21
Got the same on:

000250{"req": {"typehint":"SymbolDesignationsReq","requestedTypes":[{"typehint":"ObjectSymbol"},{"typehint":"ClassSymbol"},{"typehint":"TraitSymbol"},{"typehint":"PackageSymbol"},{"typehint":"ConstructorSymbol"},{"typehint":"ImportedNameSymbol"},{"typehint":"TypeParamSymbol"},{"typehint":"ParamSymbol"},{"typehint":"VarFieldSymbol"},{"typehint":"ValFieldSymbol"},{"typehint":"Opera

[2015-06-23 14:38] fommil commented on #21
interesting that you're invoking stack overflows. The spray-json-shapeless is usually quite good at telling you exactly which field is missing https://github.com/ensime/ensime-server/blob/master/spray-json-shapeless/src/test/scala/org/ensime/json/FamilyFormatsSpec.scala#L182

[2015-06-23 14:48] fommil commented on #21
I added this test to `JerkFormatsSpec`

[code]

and it passed fine. Hmm. Are you sure you're sending this as raw UTF-8 bytes? Length seems ok.

[2015-06-23 14:51] fommil commented on #21
clear out `org.ensime` from your `~/.ivy2/local` and `~/.ivy2/cache`. SBT might have messed something up.

[2015-06-23 14:53] fommil commented on #21
Also note that the server typically starts up with JVM flags like `"-Xss2m"` (typical for Scala apps)

[2015-06-23 15:06] hedefalk commented on #21
I've cleared org.ensime in both local and cache and I've set `-Xss2m` without result. For the record, I also get it on:

socket messages: 0000a0{"req": {"typehint":"TypeAtPointReq","file":"/Users/viktor/dev/projects/ensime-test-project/src/main/scala/Bar.scala","range":{"from":28,"to":28}}, "callId": 2}
utils.coffee:28 socket messages: 0000a0{"req": {"typehint":"TypeAtPointReq","file":"/Users/vikt

[2015-06-23 15:34] hedefalk commented on #21
Pretty sure it's proper UTF-8 unicorns too. Everything in my code is UTF-8 and on the socket I didn't specify, but it should default to UTF-8:

https://nodejs.org/api/net.html#net_socket_write_data_encoding_callback

and I just use JSON.stringify which should also be fine.

[2015-06-23 15:46] hedefalk commented on #21
It got to be something with that lazy macro, right?

[2015-06-23 15:52] hedefalk commented on #21
Oh, the discussion on this issue is not even remotely related anymore :) I'll close and open another one for the SOE.

[2015-06-23 15:52] #21 closed

[2015-06-23 15:57] fommil commented on #21
Just change the title.

The thing is I can roundtrip these messages in the unit tests no problem, so I'm not sure what the payload is.

[2015-06-23 15:57] hedefalk opened #22 "SOE on jerk parsing"
Posting this on the socket:

```0000a0{"req": {"typehint":"TypeAtPointReq","file":"/Users/viktor/dev/projects/ensime-test-project/src/main/scala/Bar.scala","range":{"from":48,"to":48}}, "callId": 2}```

gives me a StackOverflowException in the server:

[code]

The line is this:

https://github.com/ensime/ensime-server/blob/master/jerk/src/main/scala/org/ensime/jerk/JerkFormats.scala#L38

which has

[2015-06-23 15:58] fommil commented on #21
btw, which kind of UTF-8 are you using? You not using 16 bit UTF-8 by any chance? The count is supposed to be number of bytes, not number of characters.

[2015-06-23 15:58] rorygraves commented on #21
Is the length the same in UTF-8 and bytes?  The reader may not be handling it correcty - InputStreamReader.read apparently uses the platform encoding unless explicitly specified. - https://github.com/ensime/ensime-server/blob/master/swank/src/main/scala/org/ensime/server/protocol/swank/SwankProtocol.scala#L50 should probably specify an encoding.

[2015-06-23 16:01] hedefalk commented on #21
Sorry, I opened a new anyways: https://github.com/ensime/ensime-atom/issues/22

[2015-06-23 16:02] fommil commented on #21
that's a good point, and possibly a server bug. Add `-Dfile.encoding=UTF-8`

[2015-06-23 16:04] fommil commented on #22
I really don't think this is the marshaller, it's more likely an encoding problem triggering something weird in the marshaller. If you can build your own ENSIME server, try logging out the `String` at the bottom of `readJson` in `JerkProtocol`.

[2015-06-23 16:05] fommil commented on #22
btw, you might need to edit `logback.xml` in the resources dir to not truncate the log messages.

[2015-06-23 16:35] hedefalk commented on #22
Nice, I'm going ahead and doing as suggested and then I got this:

[code]

because I had "explicitified" the implicit parameter that IDEA said was there mkLazy. This is why I need a better IDE!

Anyways, after adding the logging it seems to be working. This is super weird because I really did clean my ivy and rebuilt a few times…

[2015-06-23 16:35] #22 closed

[2015-06-23 16:43] fommil commented on #22
what did the logging do that helped this to work? Was this maybe just a borked sbt/ivy all along?

[2015-06-23 16:52] hedefalk commented on #22
The logging can't have helped so something borked sbt/ivy must have been the case, but I can't seem to figure it out:

[code]

However, I wonder why you allocate a String - it seems JsonParser can take the Array[Char] as well?

I mean:

[code]

Performance, performance, performance! :)

[2015-06-23 16:53] fommil commented on #22
oh that's because I copied/pasted the S-Express parsing code. You'd have to type damn fast for performance to matter here :wink:

[2015-06-23 16:57] hedefalk commented on #22
You should see me type :)

Jokes aside, thanks a lot for the help! And sorry I wasted your time with some weird ivy/sbt crap.

[2015-06-23 19:13] hedefalk opened #23 "almost never get any typechecker errors"
Neither with or without contents sent, I get any errors, just FullTypeCheckCompleteEvent even though I write a couple of "rasdfasdfasdfasdf"'s

I have gotten some compile errors at some point but not at the moment.
[code]

TypecheckAll doesn't help either:

[code]

[2015-06-23 19:39] hedefalk commented on #23
I've tried clearing .ensime_cache of the project, but doesn't help

[2015-06-23 20:40] rorygraves commented on #23
You should be seeing an async message

[code]

Full trace for typecheck file (from server side - What do your server logs say?

[code]

[2015-06-23 21:19] hedefalk commented on #23
@rorygraves The server logs are the ones at the top here. It basically doesn't send any notes except in veeery few cases where I found some combination of UnloadAll and TypecheckAll I think. I think this is a jerk regression. Could that be possible @fommil ?

[2015-06-23 21:24] hedefalk commented on #23
I'm really tired and dumb right now so I've been just trying different types of startup scenarios like uncompilable files at startup, compilable files at startup, write some crap and typecheck file, write some crap and typecheck buffer (without saving to disk), typecheck all, unloadall, typecheck again and so forth. For about an hour or so :) Two times have I gotten it to give me any notes. One of

[2015-06-23 21:25] hedefalk commented on #23
But if I try it now:

[code]

[2015-06-23 21:29] hedefalk commented on #23
Ok, I could reproduce the "working case":

[code]

Seems that only time I get any notes from server is with freshly restarted server, start with unload all and then typecheck all. If I fix the error I and hit save (typecheckFile) I can never get any notes again from server even if I reintroduce errors and send typecheckFile or typecheckAll. I need to restart server, unloadAll and then typecheckAll

[2015-06-23 21:32] rorygraves commented on #23
Try adding a typecheck-file to force your open file to be loaded into the PC - I think thats what emacs does.  I think I may have hit similar behaviours for sublime (although its being cunningly hidden by deeper protocol issues right now).

[2015-06-23 21:36] hedefalk commented on #23
@rorygraves I typically do typecheckFile on every save (or sending buffer in "contents" while typing even). This is how it looks now:

[code]

[2015-06-23 21:46] hedefalk commented on #17
I think after doing a TypecheckAll and using Symbol instead of type it seems to work most of the time, but I still do not get any declPos from things like scalaz `|@|` or lift's `#>`.

Compare:

[code]

with

[code]

The later has declPos.

I'll change title of this issue accordingly.

[2015-06-23 21:50] hedefalk commented on #13
Fixed in https://github.com/hedefalk/ensime-atom/commit/e558d9ad6f62b930d71c64049349c093dd0b9bf2

[2015-06-23 21:50] #13 closed

[2015-06-24 11:24] fommil commented on #23
I could have introduced a regression here. Can you please move this to the server ?

[2015-06-24 12:08] hedefalk commented on #23
This issue was moved to ensime/ensime-server#1012

[2015-06-24 12:08] #23 closed

[2015-06-24 21:10] hedefalk commented on #20
It seems to happen on longer files on which I scroll. I think I need to redo this functionality totally. Maybe it's possible to make it happen with markers + decorations instead.

[2015-06-24 21:51] hedefalk opened #26 "Full path issues for sbt and java."
https://gitter.im/ensime/ensime-sublime?at=558b23f6609a063b57874201

I think I should at least remove the default and if empty, just run "sbt" and "java" as is. If set, use that instead, but no stupid default. And add error handling.

[2015-06-25 18:47] mrmechko opened #27 "Ensime fails to start when multiple projects are open in atom"
When I try to start ensime, I get the following error message:

[code]

My project has a `.ensime` file generated by the sbt plugin and the only atom extensions I have installed are the ones mentioned in the `readme` for this project.

[2015-06-25 18:57] mrmechko commented on #27
Seems that I also had a project called "Config" open in atom.  Having found an `.ensime` file in my intended folder, `ensime-atom` proceeded to get confused between the two directories.

To recreate:
1. Open a valid .ensime enabled sbt project in atom
2. Open a second folder via `Add Project Folder` in Atom
3. Attempt to start the `ensime-server`

[2015-06-25 19:40] hedefalk commented on #27
Oh, crap. I knew this was gonna bite me in the ass:

https://github.com/ensime/ensime-atom/blob/master/lib/utils.coffee#L38

I guess we need to ask the user for the .ensime-file (and .ensime_cache too maybe or just default to the same dir) with a dialog. But needs to be saved somehow attached to the atom project. Not sure how to do that though...

[2015-06-25 19:41] hedefalk commented on #27
Thanks for reporting! I'm looking into other startup-related issues that needs dialogs too (java_home and sbt) so I will try to figure this one out too.

[2015-06-25 19:49] mrmechko commented on #27
~~Just a note, `ensime` now starts and updates successfully and so on, however none of the features actually work.  This may be an issue with the server since I get a little notification after some time that there are no type errors, but when I introduce type errors and explicitly request a type check, nothing happens.  I can see swank sending information to the server as I type, but I don't think

[2015-06-25 20:42] hedefalk commented on #27
Awesome! PR is highly appreciated!

[2015-06-25 20:47] hedefalk commented on #26
Waiting for input why it doesn't stick: https://discuss.atom.io/t/package-settings-not-saved/17925

[2015-06-25 20:47] hedefalk commented on #26
Half-baked: https://github.com/hedefalk/ensime-atom/commit/6da6c23077b10cee7e912d5d7a7e9774e9c20034

[2015-06-25 21:28] #26 closed

[2015-06-25 21:48] hedefalk commented on #27
Maybe I misunderstood? You still have problems with the server? Could you see if you can find anything in project/.ensime_cache/server.log?

[2015-06-25 21:53] mrmechko commented on #27
Sorry I kinda lumped two unrelated problems in here.  The primary problem was the one identified, where a non-Ensime project was the first project open in Atom, it would fail to start the server.

In the process of mucking about trying to figure that out, a corrupt `project/.ensime_cache` must have got written and caused the ensime-server to get confused and crash.  In my haste to solve the issue,

[2015-06-25 23:05] omidb commented on #14
Same error here, I didn't understand what should I do to solve it?

[code]

[2015-06-26 00:08] omidb commented on #14
@hedefalk this is the only line in the `build.sbt` that could be generated wrong:

[code]

[2015-06-26 00:28] mrmechko opened #30 "Support for multiple Ensime projects in a single atom instance?"
I'm hoping to be able to support multiple projects in a single atom window.

Looking at the code, this would require storing a set of clients, instead of the one client that is currently stored (simple). Small changes to `util.coffee`, `ensime-startup.coffee` and `ensime.coffee` allow the client to be selected by the project containing the current buffer rather than the single global client.  Sinc

[2015-06-26 06:50] hedefalk commented on #14
@omidb Weird! Do you know how a file path _should_ look in Windows? If you could hand-modify the build.sbt so it works and report back I could fix it, but at the moment I don't understand what's wrong. To me that path looks like it should, but I'm totally Windows-illiterate. I now I changed everything to use and abstracted file.sep instead of "/" in my last push (there were stilla few of those lef

[2015-06-26 07:02] hedefalk commented on #30
I think it's definitely doable. I have run many ensimes (client + server) in Atom, but I have always had them in different windows.

Thoughts:

1) One server per project, that's how it is.
2) Need file area for every project portfile and .ensime_cache (logs and stuff that server needs)
3) Might need a bit of view-logic added. Everything is a bit crude right now. I mean, you will need to listen to

[2015-06-26 07:11] mrmechko commented on #30
Actually, looking at the code I don't think the panel is going to prove to be too difficult.  Its just a single instance after all and every time a new event occurs all the data is rewritten.

[2015-06-26 07:27] hedefalk commented on #30
Yeah, that's the thing - it's really simple _now_ but this what I will start working on pretty soon. I want tabs for "all errors"/"errors on current buffer" + log/messages. So stuff got to stay somewhere, but probably could just have two panels and switch between them when switching project.

And then markers in the text buffers + gutters, what happens if you have two projects and do atom.open? I

[2015-06-26 07:37] hedefalk commented on #17
Also, if trying to navigate further by clicking on a link in a 3rd party lib I for instance get:

outgoing: 0000c3{"req": {"typehint":"SymbolAtPointReq","file":"/Users/viktor/dev/projects/ensime-test-project/.ensime_cache/dep-src/source-jars/net/liftweb/util/SecurityHelpers.scala","point":917}, "callId": 38}

client.coffee:16 incoming: {"msg":false,"callId":38}

[2015-06-26 07:38] hedefalk commented on #27
I'll close this one with reference to https://github.com/ensime/ensime-atom/pull/29 and https://github.com/ensime/ensime-atom/issues/30

[2015-06-26 07:38] #27 closed

[2015-06-26 07:40] hedefalk commented on #19
If I can fix this one up, we can probably close #1 and #20.

Need to  fix code-links to take a promise instead of being sync, then I think we're game.

[2015-06-26 08:18] felixnext commented on #14
Well the path is correct, the problem is that the slashes are interpreted as escape characters.

Therefore the fix is to edit the template and use triple quotes. This leads to all escape characters being ignored and should work under linux as well as windows.

@hedefalk can you change that in the template and push that as update?

Von: Viktor Hedefalk [mailto:notifications@github.com]
Gesendet: Fr

[2015-06-26 08:23] mrmechko commented on #30
A short term (inefficient fix) could use something like `atom.getCurrentWindow().getRepresentedFilename()` to get the calling project name and then define `ensime:reset` to stop+start the server if the project is different from the current project.  The reset would be called manually, but it allows fast-ish switching.  To make it more reasonable, we should store the time of the last `ensime:update

[2015-06-26 08:57] hedefalk commented on #14
@SourceSink Ah, got it finally! I didn't read you message above properly! Guess I was confused since both CoffeeScript and Scala uses tripe quotes.

[2015-06-26 09:16] #14 closed

[2015-06-26 10:11] hedefalk opened #32 "show-types contintues to run even though ensime stopped"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.13.0

### Stack Trace

Uncaught TypeError: Cannot read property 'post' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post

[2015-06-26 17:59] omidb opened #33 "renamed: Should honour .ensime JAVA_HOME"
my .ensime file:
[code]

but `.class` files are in src folder, what is wrong?

[2015-06-26 20:06] raboof commented on #20
Hover (and also alt-click) doens't appear to take into account scrolling at all here (always behaving as if I were scrolled all the way to the top)

[2015-06-26 20:51] hedefalk commented on #20
Yeah, that whole way of getting coordinates has either gotten borked by underlying changes in atom or it never worked, but I think it did. I want to redo this with https://atom.io/packages/code-links or similar approach. I think the best way is to add markers to the text instead of using pixels at all.

[2015-06-26 21:00] hedefalk commented on #33
Sorry, absolutely no idea. Is the .ensime generated by gen-ensime or hand-written? I'll move this issue to ensime-server, since it most likely isn't atom related.

[2015-06-26 21:01] hedefalk commented on #33
This issue was moved to ensime/ensime-server#1018

[2015-06-26 21:14] raboof opened #34 "Hook into 'Go to Declaration' in right-click context menu"
When right-clicking in the editor, the context menu contains a 'Go to Declaration' entry. Presumably that's somehow pluggable :).

[2015-06-26 21:45] omidb opened #35 "Uncaught TypeError: Cannot read property 'goToTypeAtPoint' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.13.0

### Stack Trace

Uncaught TypeError: Cannot read property 'goToTypeAtPoint' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 21:50] mrmechko opened #36 "Ensime-Atom doesn't recognize Macros?"
![9tomcye](https://cloud.githubusercontent.com/assets/1429154/8387983/34018904-1c2b-11e5-8b10-c4c1dbb54f3f.png)

I'm guessing there is a separate way to check for macros? I'm using [Monocle](https://github.com/julien-truffaut/Monocle) which generates code using macros.  Interestingly, the mouse hover-induced type bubble is off too.  Does `ensime-server` deal with the macro'd code or is this a sepa

[2015-06-26 21:54] mrmechko commented on #34
At the moment there is also a `go to definition` option, which is initiated by `f4`.

I think the `Go to Declaration` entry might be provided by CTAGS.

[2015-06-26 21:58] hedefalk commented on #35
Ah, yeah, I think you did ensime:stop first? I'm going to fix this by manually handling the commands available. No ensime commands should be available except start and update unless running. https://discuss.atom.io/t/how-to-deactivate-my-package/17599

[2015-06-26 22:02] mrmechko commented on #35
This pr talks about registering and unregistering editor commands.  Maybe this is what we're looking for? I suspect it would be as easy as moving the registrations to the success branch of `start` and unregistering them on `stop`.

https://github.com/atom/whitespace/pull/66

[2015-06-26 22:03] hedefalk commented on #36
It just looks like it can't find your imports? You sure you have monocle on classpath in .ensime?

[2015-06-26 22:04] hedefalk commented on #34
@mrmechko Thanks for clarifying that! Then it might be hard to hook into.

[2015-06-26 22:05] mrmechko commented on #36
oh! so I have to regen the .ensime everytime? Just ran `gen-ensime` again and saw a lot of references to the offending packages.  All the errors are gone.  Thanks for that!

[2015-06-26 22:06] #36 closed

[2015-06-26 22:06] hedefalk commented on #35
@mrmechko Exactly!

[2015-06-26 22:10] hedefalk commented on #36
Yeah, at the moment. Thing is some people actually don't use sbt so ensime
wants to be agnostic and uses .ensime instead. Some handwrite it. And
gen-ensime is a separate sbt plugin.. However, I'm thinking we could
definitely add a hook to watch for changes in .sbt and run gen-ensime, and
re-init the ensime server. I think I will want that for rapid web dev when
I need to pull in deps from here and

[2015-06-26 22:45] mrmechko commented on #36
I think an `sbt-atom` plugin would be a whole other project... Of course I would love it to death.

[2015-06-27 05:37] omidb commented on #33
Let me know if I have to perform any test!

[2015-06-27 06:48] hedefalk commented on #33
@omidb As @fommil described in ensime/ensime-server#1018, the issue is that the JAVA_HOME pointed out is a JRE and not a JDK. So my follow up question is, what version of ensime-atom plugin do you use? Did you get a native file dialog to choose you JAVA_HOME at startup or did it just run? Reason I ask is that I just made changes to this behaviour in that it now ask you if no JAVA_HOME is set, but

[2015-06-27 07:04] fommil commented on #33
Any chance you could read java home from the ensime config file instead of the atom config? That way you'll use the same JVM as SBT.

[2015-06-27 09:39] raboof commented on #34
I can confirm the "Go to Declaration" menu item is provided by the ctags-based https://github.com/atom/symbols-view

[2015-06-27 10:08] hedefalk commented on #33
Oh, didn't even know there was a JAVA_HOME there. Yeah, of course I'll do
that! Thanks!

On Sat, Jun 27, 2015 at 9:04 AM Sam Halliday notifications@github.com
wrote:

[2015-06-27 10:08] hedefalk commented on #33
Just to make sure, is it always set?

On Sat, Jun 27, 2015 at 12:08 PM Viktor Hedefalk hedefalk@gmail.com wrote:

[2015-06-27 10:11] hedefalk commented on #36
I'm just suggesting something simple in this package: If this is an
sbt-based project, monitor build.sbt and run gen-ensime + reinit ensime
afterwards on every change to build.sbt. I think 90% uses sbt and having to
run gen-ensime manually doesn't make any sense to me. Not super-prio, but
would be nice.

On Sat, Jun 27, 2015 at 12:45 AM Rik notifications@github.com wrote:

[2015-06-27 10:15] hedefalk commented on #33
Seems like it. I just wonder why I did that setting at all…

[2015-06-27 10:18] fommil commented on #33
Yup required

[2015-06-27 11:42] #34 closed

[2015-06-27 11:51] raboof opened #38 "Updating ensime server fails: string is not a function"
[code]

[2015-06-27 11:54] raboof commented on #38
Hmm line 60 of that `ensime-startup.coffee` is an empty line... looks like a `+` is missing on line 80

[2015-06-27 12:11] hedefalk commented on #38
Yeah, just saw this too! I'm doing a few fixes right now on ensime-startup to remove JAVA_HOME from settings. #33

[2015-06-27 12:19] hedefalk commented on #38
Need better test-coverage - not used to dynamic languages.

Or rewrite it in scala.js pretty soon

[2015-06-27 13:04] fommil commented on #38
@rorygraves would be very happy to hear about a rewrite to scala.js

[2015-06-27 13:09] hedefalk commented on #38
Just watched Richards talk from Scaladays that I missed. Got inspired :)
Thinking I would just start out with a bit of Dynamic, but adding
interfaces for Atom's API. Could be fun. But first need to stabilize a bit
and add more features. Language not the big problem really.

On Sat, Jun 27, 2015 at 3:04 PM Sam Halliday notifications@github.com
wrote:

[2015-06-27 13:44] hedefalk commented on #38
closed by https://github.com/hedefalk/ensime-atom/commit/0009a6c63545c43419421db64aeb959db14c2d4b

[2015-06-27 13:44] #38 closed

[2015-06-27 14:31] #35 closed

[2015-06-27 14:35] hedefalk commented on #6
I think I'll close this issues. It's totally server related. Maybe there could be a setting to run typecheckAll on startup that is attached to the atom project model, but for now it's probably best to leave it to the user to decide. There could also be filtering of those to not show anything of course. But I'll fix that when doing code-links instead of those pixel-hoverings.

[2015-06-27 14:35] #6 closed

[2015-06-27 14:38] hedefalk commented on #17
I'll move this to server if you don't mind. Maybe just dup of https://github.com/ensime/ensime-server/issues/835

[2015-06-27 14:39] hedefalk commented on #17
This issue was moved to ensime/ensime-server#1020

[2015-06-27 14:39] #17 closed

[2015-06-27 17:33] omidb commented on #33
@hedefalk So I will wait for an  update to test

[2015-06-27 17:45] hedefalk commented on #33
Oh, yes, sorry. I'll do an apm release!

lör 27 jun 2015 19:33 Omid Bakhshandeh notifications@github.com skrev:

[2015-06-27 17:48] hedefalk commented on #33
0.14 is up!

On Sat, Jun 27, 2015 at 7:46 PM Viktor Hedefalk hedefalk@gmail.com wrote:

[2015-06-27 18:21] omidb commented on #33
log after update to `0.14`, it's not working yet:

[code]

[2015-06-27 18:25] omidb commented on #33
It needs Tools.jar in the classpath

[2015-06-27 18:43] hedefalk commented on #33
Yes, it does. How does your .ensime look?

On Sat, Jun 27, 2015 at 8:25 PM Omid Bakhshandeh notifications@github.com
wrote:

[2015-06-27 18:44] omidb commented on #33
[code]

[2015-06-27 18:50] hedefalk commented on #33
Oh, crap I think I have used ":" as separator, must be it.

Can you manually do this edit in your packages folder and try it:

https://github.com/hedefalk/ensime-atom/commit/638283e1f2b50b9aea942779f651872012ae96ee

Thanks!

[2015-06-27 18:52] hedefalk commented on #33
Sorry, had to do some history rewriting. Here: https://github.com/hedefalk/ensime-atom/commit/ff8bebdb1ef1b17786edc412c753f2f5824aca1b

[2015-06-27 18:54] hedefalk commented on #33
Pretty confident it doesn't do any harm at least so I released as 0.14.1

[2015-06-27 18:59] omidb commented on #33
@hedefalk didn't change anything

[2015-06-27 19:04] omidb commented on #33
@hedefalk now it's working, after clearing log and deleteing `classpath`

[2015-06-27 19:04] #33 closed

[2015-06-27 19:19] hedefalk commented on #33
@omidb great! Thanks for reporting and for your patience :)

[2015-06-27 20:43] hedefalk commented on #19
Status: https://discuss.atom.io/t/position-of-mouse-click/15958/10

[2015-07-03 11:52] raboof opened #44 "Better error handling when failing to connect"
When there is a stale 'port' file left in .ensime_cache, ensime-atom silently fails to connect (only an error message in the dev tools console).

Might be nice to at least show an error message and perhaps even try starting ensime anyway.

[2015-07-03 17:33] mrmechko commented on #44
Do you have any idea why that stale port file was left in the first place?

That was the first issue I ran into with ensime-atom, but I thought it was my fault it at the time.

[2015-07-03 17:37] raboof commented on #44
I might have `kill -9`'ed it (I had an ensime process run wild earlier), or it might have happened when my laptop ran out of power. So probably not ensime-atom related - but I'll keep an eye out.

[2015-07-07 15:16] mrmechko opened #45 "Add support for 2.10 [Uncaught SyntaxError: Unexpected token ( ]"
Seems to be an error with acknowledging the Ensime server started when it takes a long time to update.

1. Start the ensime server after a few days
2. Wait for the "maybe you're downloading the internet" popup
3. See that the only options you have are "Ensime: Start" and try it

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) pa

[2015-07-07 15:18] mrmechko commented on #45
I take it back.  Problem may be with unusual source roots instead.

[2015-07-07 15:27] mrmechko commented on #45
PS, the project in question is a fork of https://github.com/ochrons/scalajs-spa-tutorial

Potential issues (maybe one on ensime server that I missed) are scalajs, differently named source roots and multiple projects under the same sbt project

[2015-07-07 18:53] hedefalk commented on #45
Do you have a custom ensime server? I _think_ "Unexpected token (" seems to suggest that the server is running in swank/lisp mode while the latest ensime-atom is using the json protocol.

I've added a check that makes sure that the classpath file is more recent than the actual version of ensime-atom (uses package.json which is updated with every release) so there should be an update of ensime serv

[2015-07-07 19:00] mrmechko commented on #45
hm maybe something messed up in the update since it took so long?  I'm using absolutely vanilla everything.  This issue ONLY pops up when I'm using @ochrons' tutorial package, which makes me think that this might actually be an ensime-server issue in this case?

update:

hmm. I checked the server version and found that the `gen-ensime` plugin set the wrong scala version, but issue persists in only

[2015-07-15 05:40] pchlupacek opened #47 "Uncaught Error: spawn EACCES"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.3
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.16.0

### Stack Trace

Uncaught Error: spawn EACCES

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-07-15 09:08] hedefalk commented on #47
Is your sbt runnable? Can you check:

ls -lFa /Users/pach/bin/sbt

[2015-07-16 04:38] pchlupacek commented on #47
Hi indeed it was. This error was caused by incorrect sbt version (12) that was n classpath. Perhaps a nicer debug message will be enough. Overall I have a trouble with this plugin to see in which state the connection is, i.e. I would like to verify the status of the ensime server, and make sure that I do not miss any errors, that can be easily fixable.

[2015-07-21 14:10] raboof opened #48 "Uncaught TypeError: Cannot read property 'startsWith' of undefined"
When starting ensime, after seeing in the developer tools: `incoming: {"payload":{"typehint":"IndexerReadyEvent"}}`

[code]

[2015-07-21 14:12] raboof commented on #48
Line 161 is:

[code]

[2015-07-21 14:14] raboof commented on #48
seems like the 'payload' is in the way? Some version mismatch somewhere?

[2015-07-22 05:46] hedefalk commented on #47
Yeah, I want to add some statusbar or something that shows server status and such. I'm going to close this particular issue, but feel free to re-open if I misunderstood or open new ones for feature requests.

[2015-07-22 05:46] #47 closed

[2015-07-22 18:52] hedefalk commented on #45
Did you ever get past this?

[2015-07-22 20:57] mrmechko commented on #45
no.  I've been swamped with stuff in other languages so its kind of on the back burner.

[2015-07-29 06:39] fgeldenhuys commented on #45
I also get this. Tried removing the .ensime_cache and .ensime_lucene directories, reinstalling ensime and downloading a server again, but the error still occurs. Does the SwankParser bit in the stack trace mean that it's using swank instead of json?

[2015-08-03 08:25] alan7yg opened #49 "Autocomplete-plus not working correctly"
Recently, I tried to code with Atom & ensime-atom. I did exactly as the README file wrote. Everything works fine except the completion(with autocomplete-plus).
I tailed the server.log in .ensime_cache, and I found it's logging out the correct result.
Also, I tried to debug this, I found https://github.com/ensime/ensime-atom/blob/master/lib/client.coffee#L14 was logging out these :

    incoming: {

[2015-08-03 22:00] andyscott commented on #45
For me, this was solved by specifying the Scala version at the top level project of my multi project build. I was tipped off by ensime/ensime-server#1048.

[2015-08-04 15:15] hedefalk commented on #49
Sorry, away from keyboard rest of the week. Will look into when back. Thx
for reporting!

mån 3 aug 2015 10:25 alan7yg notifications@github.com skrev:

[2015-08-04 15:17] hedefalk commented on #45
Sorry for silence. Away from keyboard rest of the week but will look into
this as soon as I'm back. Thanks everyone for reporting and investigating!

tis 4 aug 2015 00:00 Andy notifications@github.com skrev:

[2015-08-10 12:29] hedefalk commented on #49
I've been trying to reproduce this, but can't seem to do it. Just to make sure:

You have autocomplete-plus package installed?

There have been some protocol changes and I'm just updating this plugin to keep up. It might be the case that I have "accidentally" fixed this as part of that. I'll let you know when I publish a new version and maybe you can try again then.

[2015-08-11 03:37] alan7yg commented on #49
As I can see, the autocomplete-plus plugin is already bundled in Atom. (https://github.com/atom/autocomplete-plus#installation)

I have tried again today, nothing's changed...

Thx for keeping up.

[2015-08-11 07:41] hedefalk commented on #49
Sorry, I hadn't published anything yet so unless your using the code repo nothing nothing is fixed. I just published 0.18 a minute ago adapting to some server protocol changes and a little cleanup. So please try that if you have the time.

[2015-08-11 08:20] hedefalk commented on #45
Ok, this is my train of thought:
- Atom client uses json protocol jerk to communicate with server
- The errors occurs on "Object.parse" which is trying to parse a json string into a js object.
- The message says unexpected token "(" which is typical beginning of a lisp expression (the old swank protocol)
- This gotta mean that the server is still trying to communicate with old protocol.
- The sett

[2015-08-11 09:37] #20 closed

[2015-08-11 11:00] hedefalk commented on #19
I'll close this. Haven't heard anything back from code-links author and I will brew my own thing instead which seems simpler at this point.

[2015-08-11 11:00] #19 closed

[2015-08-11 11:00] hedefalk commented on #32
This seems to have been fixed

[2015-08-11 11:00] #32 closed

[2015-08-11 11:02] hedefalk commented on #49
I'm pretty confident this is solved in 0.20.0. I'll close but feel free to reopened if still an issue.

[2015-08-11 11:02] #49 closed

[2015-08-11 12:02] hedefalk opened #50 "<byname> in hover for type"
<img width="911" alt="screen shot 2015-08-11 at 14 01 37" src="https://cloud.githubusercontent.com/assets/116520/9197091/966e87c0-4031-11e5-977b-258119810774.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25646311-byname-in-hover-for-type?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)**

[2015-08-11 12:06] hedefalk commented on #1
Now it really seems to be gone :)

[2015-08-11 12:07] hedefalk commented on #1
Nah

[2015-08-11 12:09] hedefalk commented on #1
Hm, really don't get it.

[2015-08-13 14:26] hedefalk opened #51 "Autocomplete messes up types"
<img width="438" alt="screen shot 2015-08-13 at 16 26 02" src="https://cloud.githubusercontent.com/assets/116520/9252316/080cf1a8-41d8-11e5-89ea-ddf5f2815eb8.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25725947-autocomplete-messes-up-types?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=githu

[2015-08-13 14:27] hedefalk commented on #51
Seems like I've introduced regression that the strings are taken as arrays.

[2015-08-13 14:34] hedefalk opened #52 "Format source doesn't work anymore"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25726279-format-source-doesn-t-work-anymore?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github

[2015-08-15 16:59] raboof commented on #20
Confirmed! (with 0.20.0)

[2015-08-17 08:30] #52 closed

[2015-08-17 17:18] laughedelic opened #53 "Silent server connection fail"
I think I have this since the last update (no sure).
When I do `Ensime: Start`, the panel appears, but then nothing happens. And in the console there are these error messages:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25868441-silent-server-connection-fail?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=is

[2015-08-17 19:51] hedefalk commented on #53
Thanks for reporting!

1) Do you have an .ensime_cache/port file?
2) Is there a ensime-server process on this port?
3) If so, can you see any error message in the .ensime_cache/server.log under your project?

[2015-08-17 19:52] rorygraves commented on #53
@hedefalk this could be related to the latest server changes.  Hopefully I haven't broken it!!!

[2015-08-17 20:32] hedefalk commented on #53
Did cleanLocal and updated server from repo and now get the same:

[code]

[2015-08-17 20:34] hedefalk commented on #53
Works for me after a `rm -r .ensime_cache`.

@rorygraves Can I take it a server update was made that needed a cleaning out of cache folder?

[2015-08-17 20:51] rorygraves commented on #53
@hedefalk Hmm.  Interesting - it appears to believe there was a lock file (the http file showing the port for the websockets client).  You could have got away with removing `/Users/viktor/dev/projects/ensime-test-project/.ensime_cache/http`.

I have changed the logic round a bit, but I'm surprised that it stopped it working like that if it had previously shut down normally.   Will do a bit more di

[2015-08-17 21:06] rorygraves commented on #53
Btw @hedefalk  Are you using websockets now?

[2015-08-17 21:17] hedefalk commented on #53
Hm, maybe I had a hard reboot the other day… @laughedelic How about you, can you get the connection up?

And sorry, no, we're still using jerk over swank here. Any cool reason to switch?

[2015-08-17 21:28] rorygraves commented on #53
@hedefalk The reason I asked is the latest server changes are fairly strict on message framing - the length should be the number of bytes, not the number of utf-8 characters - see https://github.com/ensime/ensime-emacs/issues/216  Do double check, otherwise you may get wieird parse errors.  (e.g. try the unicode characters for ← and ⇒ in you match statements).   So format is xxxxxMMMMM where xxxx

[2015-08-17 21:29] rorygraves commented on #53
Switching to websockets simply means that the message framing problem is handled by the underlying protocol.

[2015-08-18 06:06] hedefalk commented on #53
@rorygraves Cool. I'll try to do it pretty soon, but the swank protocol seems to work just fine so not top prio for me.

[2015-08-18 07:09] hedefalk opened #54 "Don't use fullName for type parameters"
<img width="398" alt="screen shot 2015-08-18 at 09 07 59" src="https://cloud.githubusercontent.com/assets/116520/9324254/d316217c-4588-11e5-9403-e49db8dce2bb.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25892728-don-t-use-fullname-for-type-variables?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_sou

[2015-08-18 07:12] hedefalk commented on #54
In this case, some is just declared as:

  `final def some[A](a: A): Option[A] = Some(a)`

and we get:

[code]

so in this case we want to use name and not fullName. But what can we decide this upon?

[2015-08-18 07:26] hedefalk commented on #54
In a case like this, I think I want to show the package name:

<img width="294" alt="screen shot 2015-08-18 at 09 22 40" src="https://cloud.githubusercontent.com/assets/116520/9324459/d251b830-458a-11e5-8c39-1fb465ca503b.png">

But the aforementioned one is just a type parameter and shouldn't really need a package. This class one states class in "declAs":

[code]

Can I use this maybe?

[2015-08-18 11:00] laughedelic commented on #53
Hi. I tried to remove `.ensime_cache`, regenerate `.ensime` and start it again. Doesn't help. Here is what I get in the console:

[code]

Here is the content of my `.ensime` and `.ensime_cache/server.log`: [gist](https://gist.github.com/laughedelic/ecd168b4103520558331). And there are no other files in `.ensime_cache/`.

[2015-08-18 11:33] hedefalk commented on #53
Looks like server chokes on some source-jar and dies?

Shortified stack:

org.ensime.core.Project.<init> -> ensime.indexer.SourceResolver -> ZipFileSystem.init -> org.apache.commons.vfs2.FileSystemException: Invalid relative file name.

[2015-08-18 11:34] hedefalk commented on #53
@rorygraves I'll move this to server, but feel free to reopen if this is caused by something in Atom client.

[2015-08-18 11:35] hedefalk commented on #53
This issue was moved to ensime/ensime-server#1066

[2015-08-18 11:35] #53 closed

[2015-08-18 11:38] hedefalk commented on #53
Oh, we might need some better error handling on client - "server unexpectedly closed the connection" or whatever, but that could maybe be a new ticket.

[2015-08-18 11:40] laughedelic commented on #53
Yes, reporting an error would be quite useful.

[2015-08-19 10:30] laughedelic opened #55 "Optional type tooltips"
I see several issues with this function:

1. it shows tooltip on any word, which results in `<none>.<none>` for comments and key words (like `trait`). btw, it doesn't show anything for `import`.
2. it shows tooltip when I type, so I need to move the pointer somewhere else, which is quite annoying.
3. it shows incorrect types for type members:
<img width="242" alt="screen shot 2015-08-19 at 12 25 2

[2015-08-19 11:07] hedefalk commented on #55
I'll answer each point separately
1. Yeah, it does trigger on any word, but in recent versions I think I removed the issue of <none.none> by simply not showing anything if that is returned? I can't trigger a <none.none> anymore? Hovering on the trait keyword I get the name of the trait defined:
   <img width="181" alt="screen shot 2015-08-19 at 12 37 39" src="https://cloud.githubusercontent.com/as

[2015-08-19 14:21] raboof opened #56 "Server doesn't seem to startup in time: Report bug!"
I encountered #45. After "rm -r ~/.ivy2/cache/org.ensime", when I do "Ensime: Start", I get this message after a while. Nothing in the developer tools console.

Where else could I look for diagnostics? I don't see an 'ensime' process running at all.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25949035-server-doesn-t-seem-to-start

[2015-08-19 14:22] raboof commented on #56
.. which makes sense since it's not returned to ~/.ivy2 at all (only ensime-sbt is there, no more ensime-server).

[2015-08-19 14:24] hedefalk commented on #55
Issue 3 is definitely fixed in my current code base.
<img width="197" alt="screen shot 2015-08-19 at 16 23 49" src="https://cloud.githubusercontent.com/assets/116520/9358903/bc0d6614-468e-11e5-92c9-42b361cbabca.png">

[2015-08-19 14:25] hedefalk commented on #55
I'll try to make a small release within a few hours with this, the setting to turn off type info, and a few half-baked features.

[2015-08-19 14:29] hedefalk commented on #56
You need to do "update ensime server". Thing is that client only compares current client version timestamp against the classpath-file of your project to determine if a server update is needed. I would guess you have a ClassNotFoundException on the main class in project/.ensime_cache/server.log

[2015-08-19 14:31] hedefalk commented on #56
Basically, if you do rm -r ~/.ivy2/cache/org.ensime you need to make sure to download the server yourself. I guess we could add a "hard-update ensime server" instead that does this rm PLUS the update command.

[2015-08-19 14:34] hedefalk commented on #56
PR's are welcome, but I'll close this issue. Re-open if instruction above doesn't help.

[2015-08-19 15:01] #56 closed

[2015-08-19 15:05] raboof commented on #56
Ah, that indeed fixed this message. Thanks for the pointer to server.log.

(unfortunately I'm now back to #45 :) )

[2015-08-19 15:15] raboof commented on #45
I see a similar stacktrace on 0.20.0:

[code]

In the developer tools' console I see:

[code]

Logged on client.coffee:24 - so that indeed looks like we get lisp rather than json.

[2015-08-19 15:20] raboof commented on #45
in the server.log I see:

[code]

Ensime appears to use /home/aengelen/.ivy2/cache/org.ensime/ensime_2.10/jars/ensime_2.10-0.9.10-SNAPSHOT.jar with md5sum 14132cabb1d3c38c239b5d32adf959c8. The file timestamp is 'Jan 25 2015' though it was just downloaded a minute ago when I did an 'upgrade ensime' from atom:

[code]

[2015-08-19 15:27] hedefalk commented on #45
Oh, seems server isn't cross-published against 2.10 since jan:

https://oss.sonatype.org/content/repositories/snapshots/org/ensime/ensime_2.10/0.9.10-SNAPSHOT/

@fommil, is this so? Can we? Pretty please?

[2015-08-19 15:29] hedefalk commented on #45
@raboof Just to be clear: The issue is that you get an old server that doesn't have the new json protocol that ensime-atom now exclusively use.

[2015-08-19 15:31] raboof commented on #45
Right, which only happens for 2.10 projects which explains why I didn't see it before ;).

[2015-08-19 15:32] fommil commented on #45
@hedefalk yeah, I want to work on this soon because I am starting a new contract soon and they use scala 2.10.

It's obviously not as trivial as you might think or I would have done it already :smile:

[2015-08-19 15:35] hedefalk commented on #45
@fommil I would have guessed - you don't seem like the lazy guy refusing to add a + :)

@raboof Sorry, I guess ensime-atom only supports 2.11. Be bleeding edge!

[2015-08-19 15:37] hedefalk commented on #45
@mrmechko Can I guess this might have been your original issue too? I see that the project you're referencing is using 2.11 _now_, but git blame is just 22 days back on that line…

[2015-08-19 15:45] #51 closed

[2015-08-19 15:45] #54 closed

[2015-08-19 15:45] #55 closed

[2015-08-19 16:10] hedefalk opened #58 "Typecheck on save/typing broken."
Whoops. I broke this in a refactoring when removing that big EditorControl thing.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25952954-typecheck-on-save-typing-broken?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2015-08-19 18:02] #50 closed

[2015-08-19 18:02] #58 closed

[2015-08-19 18:04] hedefalk commented on #55
@laughedelic Please try just published 0.22.

[2015-08-19 20:28] laughedelic commented on #55
@hedefalk cool! you've made a lot of progress :+1:

Although there are still some glitches:
1. now I get `<notype>` on comments, `extends` and `implicit`:

   <img width="134" alt="screen shot 2015-08-19 at 21 54 40" src="https://cloud.githubusercontent.com/assets/766656/9367437/9264cdfa-46bd-11e5-9ce5-47f720ce8a37.png"> <img width="175" alt="screen shot 2015-08-19 at 21 55 20" src="https://cloud.

[2015-08-19 20:54] hedefalk commented on #55
Cool! Nice feedback! I'll see what I can do. But if I'm too slow, please consider PR's :)
1. this is response for hovering on extends:

[code]

   I guess I can always just ignore <notype>? This is for comment:

[code]
2. Cool, I'll give that a shot! Thanks for digging!
3. Hm, yeah. I guess this needs some thinking through. @fommil - I'm really interested in how the presentation logic in Emacs loo

[2015-08-19 21:36] fommil commented on #55
in emacs the user has to make a command to see the type info, or use the mouse to hover over something (I don't use the mouse, I **think** that's the way it works).

One other thing that I think would be incredibly useful in atom is if you showed the implicit info and the compiler warnings/errors with a tooltip... can you do that yet? (Actually, even the emacs side could do with some TLC here beca

[2015-08-20 06:11] hedefalk commented on #55
@fommil Yeah, it's pretty much the same (command or hover), but than was not really what I'm looking for.

What I'm wondering is if you have any ruleset for what to actually show. It seems I get only the name of a type in "name" and a full path to in "fullName". If you look at #54, you'll see a typical case where it doesn't make any sense with a full path/package name - I would almost consider thi

[2015-08-20 06:15] hedefalk commented on #55
@fommil I'm working on implicits primarily. I'm trying to learn a way in Atom to make it nice. I think I will automatically mark all implicit conv/params directly and use a gutter-hover + command to list them at current point (where you should be able to "explicify" them too)

When I've learnt to do that GUI-wise, I'll probably improve error highlighting too, but it's not prio for me personally.

[2015-08-20 10:23] hedefalk opened #60 "<refinement> showing in type"
<img width="525" alt="screen shot 2015-08-20 at 12 21 12" src="https://cloud.githubusercontent.com/assets/116520/9381292/421f2e52-4736-11e5-82bc-228428cb64eb.png">

[code]

[2015-08-22 15:42] laughedelic commented on #7
I just tried to change ui-theme and got this error. Tried Seti, Yeti, Nucleus-dark. In Meterial-ui or Atom Dark everything is fine..

[2015-08-22 16:54] laughedelic commented on #55
One more glitch encountered:
<img width="151" alt="screen shot 2015-08-21 at 15 44 08" src="https://cloud.githubusercontent.com/assets/766656/9424922/14730cba-48ff-11e5-870d-8b02a46aeac9.png">
although I couldn't figure out yet when it appears..

[2015-08-22 18:35] hedefalk commented on #7
Hm, yeah. Gotto look into that. Gotta see what the standard things for ut-themes are. I'm importing a file that doesn't exist in those other. There was a bug about that a few months ago too which I fixed, but it might have changed again or I never really understood it…

[2015-08-22 18:52] hedefalk commented on #7
Hm, should probably move after haskell-ide: https://github.com/atom-haskell/ide-haskell/blob/master/lib/editor-control.coffee

So they're using markers and decorate instead. Should do that too.

[2015-08-22 18:52] hedefalk commented on #7
https://github.com/atom-haskell/ide-haskell/issues/48

[2015-08-22 19:17] #7 closed

[2015-08-22 19:18] hedefalk commented on #7
Please try 0.23 and see if that works.

[2015-08-22 19:20] hedefalk opened #62 "<error> in type tooltip."
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26077410-error-in-type-tooltip?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github).
</bountyso

[2015-08-22 19:20] hedefalk opened #63 "<error> in type tooltip."
https://github.com/ensime/ensime-atom/issues/55#issuecomment-133725962

[2015-08-22 20:38] #62 closed

[2015-08-22 20:39] hedefalk commented on #62
double-click dup of #63

[2015-08-25 08:23] laughedelic commented on #7
It seems to be fine now! :+1:

[2015-08-29 13:27] caente commented on #49
@hedefalk using this thread because I have the exact same issue than @alan7yg, as soon I start ensime, all autocomplete functions stop, even the most basic ones

[2015-08-29 13:29] caente commented on #49
wow! scratch that, it does work! it wasn't working last night and it wasn't working a minute ago, perhaps I was being too impatient?

[2015-09-02 21:33] hedefalk opened #64 "Off-by-one errors on implicit highlighting"
Scenario:

Have `val test = "a" #> "foo"`, types a `o` and get `val test = "a" #> "fooo"`. Autocomplete triggers a call to server with buffer content which is indexed. Backspace back to `val test = "a" #> "foo"` and hit save. This triggers call to get implicits. Even if I had a typecheck buffer before tied to save as well it didn't have the time to re-index (even if this call was made before impli

[2015-09-02 21:36] hedefalk commented on #64
Either could make implicits send buffer content too, but I'm thinking - don't we have a structural problem that indexing of file is updated on server when doing autocomplete without save? I'm thinking I could actually update ensime-atom's behaviour on autocomplete calls to be:
- ask for completions on buffer content
- index file content (rollback index)

Hm, I don't know…

[2015-09-02 21:40] hedefalk commented on #64
Oh, that approach doesn't even work. TypecheckFileReq doesn't even update the index it seems. Is this right, @fommil? I might need some guidance here…

[2015-09-02 21:47] hedefalk commented on #64
Seems my hook to typecheck buffer is called _after_ implicits call, so maybe just doing it the other way around will actually work?

Isolated conversation:

[code]

[2015-09-02 21:53] fommil commented on #64
hmm, maybe the `end` position is exclusive? We never rigorously defined that. Is it consistently off by one?

[2015-09-02 21:54] hedefalk commented on #64
Ah, yeah. I could get away with just typechecking buffer before asking for implicits. However, I ask twice in a row:

[code]

Seems I might need to be a bit smarter with the client stacking of requests…

[2015-09-02 21:58] hedefalk commented on #64
@fommil Sorry, the problem was that the buffer is indexed for every character insertion but not backspace due to the way the autocomplete-plus plugin works in Atom. So, I write "fooo" and this is indexed, then I backspace back to "foo" but this wasn't indexed before I ask about implicits (which currently does not take buffer as param, but only file name) If I just typechecked the file before it wa

[2015-09-02 22:00] hedefalk commented on #64
But I still have a bit of a bad feeling that the server index of a file is updated just by using autocomplete while typing.

[2015-09-02 22:00] fommil commented on #64
I'm not sure you need to typecheck the file for every character inserted, just when you want to do something with it. Emacs is smart enough to only typecheck the file when it actually needs something from the server, and will typecheck on idle. I think.

[2015-09-02 22:03] hedefalk commented on #64
I'm not typechecking the file, but asking when asking for completions I send the buffer:

{"req": {"typehint":"CompletionsReq","fileInfo":{"file":"/Users/viktor/dev/projects/ensime-test-project/src/main/scala/Bar.scala","contents":"import net.liftweb.util.Helpers._\n\nobject Bar {\n  val test = \"a\" #> \"fooo\"\n}\n"},"point":73,"maxResults":5,"caseSens":false,"reload":true}, "callId": 6}

withou

[2015-09-02 22:04] fommil commented on #64
aah, ok that is probably what we do too

[2015-09-02 22:09] hedefalk commented on #64
And I'm guessing now, but here:

https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/Completion.scala#L64

the index is updated, but never reverted?

[2015-09-03 08:43] hedefalk opened #65 "Make implicits explicit"
Making implicits explicits is _hard_. I want to be able to list the applied implicits and click "make explicit" and get a refactor for each one here so that the second row becomes the first.

<img width="703" alt="screen shot 2015-09-03 at 10 30 56" src="https://cloud.githubusercontent.com/assets/116520/9654084/82a452de-5228-11e5-85ca-da584bf37a65.png">

Problems:
* The param isn't even in scope s

[2015-09-03 08:46] hedefalk commented on #65
<img width="971" alt="screen shot 2015-09-03 at 10 45 40" src="https://cloud.githubusercontent.com/assets/116520/9654139/f818e890-5228-11e5-8110-5958cba2a6df.png">

only a and x compiles.

[2015-09-03 08:53] hedefalk commented on #65
One more problem:

Currently the markers are only invalidated "inside": https://atom.io/docs/api/v1.0.9/TextEditor#instance-markBufferRange

However, I attach the implicit data to the marker and if we are to apply that the offsets will be off for any edit of the file before the marker. So I think either we need to invalidate all implicit markers on any edit or come up with something brilliant that

[2015-09-03 13:02] hedefalk commented on #65
<img width="383" alt="screen shot 2015-09-03 at 14 57 41" src="https://cloud.githubusercontent.com/assets/116520/9658775/29259212-524c-11e5-8814-d59350424b98.png">

At the moment I'm going to have to do with just showing something like this. I can't even show the symbol `"a"` that was converted by `strToCssBindPromoter` because it simply isn't given from server. I also cannot show anything but the

[2015-09-03 13:07] hedefalk commented on #65
Ooh, just realized. If I grab the actual buffer contents at the moment I ask for implicits and then use the ranges I get in the reply over these, I can save the range's text in the marker. So even though buffer have changed and offsets doesn't work anymore I can use regex-replace on the buffer maybe. Or at least sanity check that I'm not messing everything up.

Or wait, I can just use the markers

[2015-09-03 20:20] fommil commented on #65
![2015-09-03-211844_1918x1078_scrot](https://cloud.githubusercontent.com/assets/1914041/9669871/929e963c-5281-11e5-9fc5-571cb7675db2.png)

[2015-09-03 20:21] fommil commented on #65
Point is on `EnsimeKeys.debuggingPort.gimme`. The info is in the minibuffer (very bottom).

I remember now that Eric added the extra space at the end intentionally to indicate implicit parameters, so probably not an off-by-one! You maybe just need to handle newlines.

[2015-09-03 20:24] #64 closed

[2015-09-03 20:27] hedefalk commented on #65
Awesome, thanks! I might steal the "copy". Or maybe a bit too long to put on a popup like the one I have right now.

The off-by-one was solved by re-indexing the buffer prior to asking for implicits. Problem was that autocomplete triggers for every keystroke EXCEPT for instance backspace. So typing a character and then erasing it still left server with the new character in index.

I'm going to inv

[2015-09-03 20:55] rorygraves commented on #65
The PC must have the info, I would seriously consider making this a 'refactoring' on the server side (everybody wins) rather than trying to craft it in atom

[2015-09-03 20:57] hedefalk commented on #65
Yeah, if it is a refactoring already implemented that'd be the best. Haven't looked at anything else but the ensime version, but scala-ide have the refactoring since a few years. Don't know if it's part of the refactorings project though. Will look into!

[2015-09-03 21:01] edani commented on #65
Here what's needed to expand implicits. Originally, I thought it was trivial but it isn't :-)
- get the expanded implicit's "full path" from the presentation compiler  (not too hard, we need to expand "Select(...)" trees into dotted sequences of identifiers)
- add required imports. We do something like that already (import suggestions) but not quite exactly.
- for implicit parameters, reformat the

[2015-09-03 21:03] hedefalk commented on #65
@edani Awesome, looks like you already digged a bit! Is it possible to look into how scala-ide does it?

[2015-09-03 21:06] hedefalk commented on #65
@edani And gotta say thanks a lot for the feature as it stands today! I think it is already the missing piece that let's me finally ditch Idea/Eclipse forever.

I realize it's easy to forget to say thanks enough and just "I need x too!" :)

[2015-09-03 21:09] hedefalk commented on #65
I can't seem to find anything in scala-refactoring (https://github.com/scala-ide/scala-refactoring) so I guess the code is in the eclipse plugin itself?

[2015-09-03 21:09] rorygraves commented on #65
@hedefalk I don't see the refactoring off the cuff (although there is some cool stuff here - https://github.com/scala-ide/scala-refactoring/tree/master/src/main/scala/scala/tools/refactoring/implementations

So yeah, I would look in the eclipse plugin itself.

[2015-09-03 21:21] hedefalk commented on #65
Is this maybe something useful:

https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/org/scalaide/ui/internal/editor/decorators/implicits/ImplicitHighlightingPresenter.scala#L90

[2015-09-03 21:43] hedefalk commented on #65
Oh, sorry, that doesn't seem to do much more than we already have here:

https://github.com/ensime/ensime-server/blob/master/core/src/main/scala/org/ensime/core/ImplicitAnalyzer.scala#L16

So we need to dig a bit on those tree's, right?

I would really like to find the actual "expand implicits" code of scala-ide though…

[2015-09-03 21:50] hedefalk commented on #65
Oh, code analysing itself:

<img width="579" alt="screen shot 2015-09-03 at 23 48 08" src="https://cloud.githubusercontent.com/assets/116520/9671863/49f602ac-5296-11e5-919a-680a86827721.png">

[2015-09-03 22:35] edani commented on #65
@hedefalk   You're welcome :-)

Looking at the scala-ide code, I don't remember where I saw the implicit conversion _expander_.  The toolip you mention comes from ImplicitHighlightingPresenter.scala as you guessed. BUT! what's in the tooltip is the symbol name, which isn't necessarily a valid scala iddentifier. For instance, the symbol could be defined in a trait, but we really need to access it t

[2015-09-06 09:49] hedefalk commented on #45
I'm changing title. I think @fommil might be working on 2.10 support and I guess we can close this one as soon as a 2.10 server with jerk is published.

[2015-09-06 09:51] hedefalk commented on #1
This seems still to happen once in a while, but haven't been often enough to motivate a track-down. But a bit irritating when it happens. Often you can then get rid of it by going back to the responsible textbuffer.

[2015-09-06 10:03] fommil commented on #45
Yeah, I pushed out a new release for 2.10 last week. It now builds from master.

[2015-09-06 11:49] hedefalk commented on #45
Awesome. I'll think I'll close this one then. Pretty sure it will _just  work_ then. But feel free to reopen if issues remain.

[2015-09-06 11:49] #45 closed

[2015-09-06 12:26] fommil commented on #45
One way you can easily check, use the snapshot SBT plugin to use ENSIME for your meta project, that's Scala 2.10.

[2015-09-11 12:26] raboof opened #66 "When atom crashes, ensime keeps running"

[2015-09-11 12:34] hedefalk opened #67 "prevent default on cmd-click"
Still adds a cursor

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26611448-prevent-default-on-cmd-click?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&ut

[2015-09-11 12:35] hedefalk commented on #66
Do you have "Run server detached" enabled?

[2015-09-11 12:43] raboof commented on #66
Nope.

Actually it recovered quite nicely btw: after restarting Atom, 'Start ensime' reconnected to the still-running ensime.

[2015-09-11 13:04] hedefalk commented on #66
Yeah, that's the idea. It's a lot faster when reloading Atom (which I need to do all the time while developing) and have it just read the port file and connect.

But of course it could be annoying at some point too. I'm going to keep this open and some day I'll sit down and think through how to handle stuff better. That "Run server detached" flag is both used to actually run it as a detached proce

[2015-09-12 06:02] hedefalk commented on #1
Maybe the overlay can be put INSIDE the tab so it doesn't show on other tabs?

[2015-09-26 04:18] hedefalk opened #68 "NPE when turning off implicits"
d6y:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26963069-npe-when-turning-off-implicits?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=gith

[2015-09-26 09:01] #68 closed

[2015-09-30 15:04] justjoheinz opened #69 "Function1 in tooltip"
[code]

The tooltip for Demo.f shows `f(a: scala.Int)(f: Function1[scala.Int, scala.Double]) : scala.Int`
It would be awesome if Function1 types could be converted into `X => Y` syntax, and the `scala.` prefix of standard types could be ommited (as in Eclipse IDE)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27062088-function1-in-

[2015-09-30 15:39] hedefalk commented on #69
1) Function: Acknowledged! I was thinking the same, but never got around to it.
2) scala-package: Sure, I'll fix that.

[2015-09-30 17:32] #69 closed

[2015-09-30 17:32] hedefalk commented on #69
Should be fixed in 0.25

[2015-10-25 12:10] raboof opened #74 "Scrolling"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27678953-scrolling?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github).
</bountysource-plugin>

[2015-10-25 12:13] raboof opened #75 "Scrolling 'jumps around' when editing near the end of the file"
The 'Ensime panel' changes height as the compiler does its work.

This leads to the file's scroll position changing as the panel becomes smaller when you're editing near the end of the file, which is very annoying.

This might be an 'upstream' Atom issue - not sure - but it certainly affects ensime-atom.

[2015-10-25 12:20] hedefalk commented on #75
Yeah, hm. I think there's a lot of work we can do to make stuff better in
the UI. I would like lots of stuff warnings/errors with tabs for current
file and such. I think we should look at the other ide-packages that have
come further for inspiration.

On Sun, Oct 25, 2015 at 1:13 PM Arnout Engelen notifications@github.com
wrote:

[2015-10-25 14:23] #74 closed

[2015-10-26 08:37] hedefalk commented on #67
Either this is resolved or it should be reported on https://github.com/facebooknuclideapm/hyperclick instead I would think.

[2015-10-26 08:37] #67 closed

[2015-10-27 14:12] juanjovazquez opened #79 "Ensime server won't start with `reference to write is ambiguous`"
Sorry if this is my fault, but I cannot get ensime server started having the following SBT stacktrace:

<pre>
[info] Loading global plugins from /home/jvazquez/.sbt/0.13/plugins
[info] Loading project definition from /home/jvazquez/.atom/packages/Ensime/ensime_update_/project
/home/jvazquez/.atom/packages/Ensime/ensime_update_/build.sbt:38: error: reference to write is ambiguous; it is imported tw

[2015-10-29 14:05] raboof opened #80 "Make shown implicits clickable"
'show implicits' is useful, but doesn't show much namespacing information.

Would be nice to be able to click on the shown implicits to jump to their definition

[2015-10-31 15:43] hedefalk commented on #80
Yeah, it's just a matter of UI. I'm currently learning how to use vue.js for easier building of ui:s. I just couldn't stand the space-pen stuff the built-in atom things are built with. I'm working on open type just now and I'l revisit this when done.

[2015-10-31 15:56] hedefalk commented on #79
Thanks for reporting! Yeah, the fix should be easy. I guess you have a jetbrains plugin defined in your user space that clashes with our import from IO._. I can fix it.

[2015-10-31 15:59] #79 closed

[2015-10-31 16:01] hedefalk commented on #79
@fommil I guess this could be updated in ensime-emacs as well? Maybe. Don't know.

[2015-10-31 16:02] hedefalk commented on #79
@juanjovazquez Please try 0.27

[2015-10-31 19:29] d6y opened #82 "Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an al..."
Steps...

1. Opened Scala project in Atom
2. ensime start (wait for update to complete)
3. I think I actually exited Atom after this
4. Re-opened Atom, ensime start
5. Tried the cool new CMD Shift T and got this...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.28.0

### Stack Trace

Uncaught EvalError: Refused to

[2015-10-31 20:00] hedefalk commented on #82
Weird. I guess vue version isn't the CSP one...

[2015-10-31 20:27] hedefalk commented on #82
Ok, sorry for brief before. Was on cell.

Background:

Vue has a version which is CSP compliant that I need to use with Atom. I have declared that in package.json. Maybe for some reason there's something weird with deps resolution. Can you check that:

~/.atom/packages/ensime/node_modules/package.json has the correct version:

  "version": "1.0.0-csp",

I'm thinking maybe for some reason you got s

[2015-10-31 20:31] hedefalk commented on #82
Ah, it doesn't. You got 1.0.3 instead. Crap. I'll remove the ~ and patch.

[2015-10-31 20:34] #82 closed

[2015-11-01 06:39] hedefalk commented on #82
It was a ^. I don't think it is possible to use ^ or ~ with a postfix that is most significant, but I asked:

[2015-11-01 06:40] hedefalk commented on #82
http://forum.vuejs.org/topic/324/is-there-a-way-to-ask-for-latest-csp-with-npm

[2015-11-01 10:34] d6y opened #83 "CMD-Shift-T on lib Java file causes Uncaught Type Error"
I need to stress that this is not a problem for me, just a situation I spotted and I'm logging.

The steps to reproduce are involved. That's because it's an odd situation (for me), where I have a JAR file inside _lib_ folder for an sbt project.  That seems to be part of the problem here. Maybe.

Also: The error message detail is odd ("ensime is out of date: undefined installed")

## Steps...

1. C

[2015-11-01 12:30] hedefalk commented on #83
We get no position from server:

[code]

Should add a check on that.

[2015-11-01 12:47] #83 closed

[2015-11-01 12:52] hedefalk commented on #83
I just popped a error msg instead of throwing exception, but better would probably be to already in the panel show the symbol as "unreachable". But I'll close this one.

[2015-11-01 14:03] laughedelic opened #86 "Maintaining changelog"
It's nice to receive updates, but it would be much nicer to know what they bring. There are todo and feature lists in the readme, but to keep track of changes I need to see the commit history.
Could you start maintaining changelog/release notes, at least for the releases bringing new features or fixing major bugs?

[2015-11-01 17:00] hedefalk commented on #86
I'd love to do that but I don't have much time to set anything up. If I get a couple of hours I'd rather spend them on adding a new feature.

But if you could set something up as a PR or something that's not too much work to maintain I can of course keep it updated. That readme.md is not really the best solution so I'm all ears for something specific.

[2015-11-01 17:01] hedefalk commented on #86
https://github.com/skywinder/github-changelog-generator
?

[2015-11-01 18:46] laughedelic commented on #86
This tool looks nice. It could be an easy solution, but the result looks nice if you maintain at least issues/PRs labels and name them clearly.

[2015-11-03 13:31] themerius commented on #47
I'll get this error on OS X 10.11, and `sbt` is installed via `brew`. And I've also tried to bring the PATH to Atom with:
1. http://apple.stackexchange.com/questions/51677/how-to-set-path-for-finder-launched-applications
2. /etc/launchd.conf

Both methods have no effect. On the system (esp. via Terminal) sbt-0.13.8 is available.

[2015-11-03 13:39] hedefalk commented on #47
@themerius You need to set absolute path of sbt via settings in Atom unfortunately. I figured this was better than requiring people to use launchctl. It's too bad…

There might be a feature request here to check on path firstly and only if not present use the setting or whatever. Interactive dialog when checking if exists or so.

[2015-11-03 13:49] hedefalk commented on #47
@themerius Maybe you can take a look at https://github.com/ensime/ensime-atom/blob/master/lib/ensime-startup.coffee and fix something up. You can both read and write the settings. I guess there is room to check if env contains it and setting doesn't, use env and maybe store in env? Don't know… But PR's highly appreciated :)

[2015-11-03 13:57] themerius commented on #47
Now it works, thanks! I've overseen this, sorry. :(

[2015-11-03 15:11] juanjovazquez commented on #79
Working like a charm on version 0.29. Thanks!.

[2015-11-04 09:24] channingwalton opened #88 "TypeError: Cannot read property 'typehint' of undefined"
[Enter steps to reproduce below:]

1. Install latest Atom
2. Use sbt plugin 0.2.1
3. sbt gen-ensime
4. In atom start ensime

**Atom Version**: 1.1.0
**System**: Mac OS X 10.10.4
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.29.0

### Stack Trace

Uncaught TypeError: Cannot read property 'typehint' of undefined

[code]

### Commands

[code]

### Config

[code]

### In

[2015-11-04 09:36] hedefalk commented on #88
payload is undefined here:

https://github.com/ensime/ensime-atom/blob/master/lib/client.coffee#L28

Something is wrong with the wire format I would guess. Have you used ensime before and might have an old version in .ivy local or something that tries to speak swank? Can you try to open dev tools (cmd-alt-i) in atom and see if you can find any communication logs? And paste tail from [project]/.ens

[2015-11-04 09:44] hedefalk commented on #88
If above guess is indeed the case the following might be relevant:

I _think_ that ivy resolution works by prioritizing local before cache so when you once have publishLocal that's the one it's gonna use since ensime-server has been on 0.9.10-SNAPSHOT since forever. I've used dirty money to clear my local when I needed to touch the server code: https://github.com/sbt/sbt-dirty-money.

@rorygraves

[2015-11-04 09:46] channingwalton commented on #88
I have used ensime before in Emacs, I could try deleting my ivy cache if thats what you're suggesting?

[2015-11-04 09:48] hedefalk commented on #88
Please try that, but could you ll both local and cache for ensime-server first?

[2015-11-04 09:50] hedefalk commented on #88
Either it's that you have a old homebuilt one in local or an old downloaded i cache. If it's cache, it feels more problematic. Haven't looked at those issues for a while, but it would be nice if it "just works" for everyone…

[2015-11-04 09:55] channingwalton commented on #88
oh, this looks old:

[code]

[code]

So that doesn't seem right at all. I am going to delete them and start again.

Sorry for the false alarm - should have checked first.

[2015-11-04 10:01] hedefalk commented on #88
No worries :)

I really think it's an issue with how we init the server. Is the second one ls on local? Could you try to just clear out that one and leave cache? Shouldn't SNAPSHOT deps in cache be updated from an sbt build?

[2015-11-04 10:03] hedefalk commented on #88
What I'm after: if it's an old version in cache that makes the build not download the latest I think it's not a false alarm at all…

[2015-11-04 10:08] channingwalton commented on #88
Yup, all sorted now (by deleting local).

Thanks for the help.

[2015-11-04 10:08] #88 closed

[2015-11-04 10:14] channingwalton commented on #88
Once I had deleted local the latest server downloaded properly, so whilst it was an old version I think thats expected SBT behaviour? Local takes precedence?

[2015-11-04 11:18] hedefalk commented on #88
That's my guess. Just to make it clear: you only deleted local not cache? Then I think we're good. I figure: if you have built your own server you're a power user and on your own. But just having _used_ a previous version of Ensime (old version in cache) shouldn't break our plugin.

[2015-11-04 11:35] channingwalton commented on #88
Yes just local.

[2015-11-04 11:43] hedefalk commented on #88
Awesome! Then I can sleep tonight :)

[2015-11-04 11:44] channingwalton commented on #88
Thanks for all the help.

[2015-11-04 12:56] caente opened #89 "Search public symbol not actually working"
When I search for a symbol, it takes me to the file, but not to the symbol, is this known?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27960001-search-public-symbol-not-actually-working?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bount

[2015-11-04 13:47] hedefalk commented on #89
This is a pretty new feature in Atom and I haven't used it much yet - will tomorrow though. It _should_ work client wise and it worked half ok for me (one-off errors kindof). I'll blame server. Please check server communication and see what you get there. (cmd-shift-i on mac to open chrome dev tools in atom). What you get is only line-positions so not col, but for me it has at least done better th

[2015-11-04 13:59] caente commented on #89
well this interesting, it actually receives back two objects, the first one has a `pos.line > 0`, but the line number is wrong, the second one has `pos.line=0`
I guess those two objects are the the two elements I see in the search box when I write the name of the method I'm looking for, one is something like `SomeModule$.someMethod` -> this one has the wrong line number, and the other result is `S

[2015-11-04 14:06] hedefalk commented on #89
Yeah, this is an important feature for me too. I'm going to move this issue to ensime-server (because ensime-atom just puts the cursor on the line given from server (maybe with an off-by-one error (I'll look at that tomorrow)))

Can you paste the full json you get? Better still if you can isolate the issue in a standalone git project…

[2015-11-04 14:08] hedefalk commented on #89
This issue was moved to ensime/ensime-server#1140

[2015-11-04 14:08] #89 closed

[2015-11-04 15:13] caente commented on #89
Writing this here in case is particular from atom, I created a fresh project and this is what I got when searching symbol:

### Stack Trace

Uncaught TypeError: Cannot read property 'pos' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-04 15:15] caente commented on #89
I can create a github project for it, but it really is a bare bones project

[2015-11-04 15:16] caente commented on #89
the weird thing is, after making a clean & compile on the other big project, I got the exact error o_O

[2015-11-04 15:24] hedefalk commented on #89
Oh, this stacktrace is def ui related in atom.

[2015-11-04 15:27] hedefalk opened #90 "Don't typecheck source files from lib!"

[2015-11-04 15:27] caente commented on #89
well yes, I mean, in case it's cause _because_ atom, and not because ensime...

[2015-11-04 15:28] hedefalk commented on #90
Don't do this:

[code]

[2015-11-04 15:34] hedefalk commented on #89
This is undefined:

https://github.com/ensime/ensime-atom/blob/master/lib/features/public-symbol-search.coffee#L37

So I guess it's some kind of ui code error in the vue component. I can't reproduce myself easily though. Can you create a monkey instruction to reproduce like:

shell:
- git clone [url]
- sbt gen-ensime
  atom:
- ensime: start
- cmd-shift-t
- type "foo"
- arrow down
- enter

or simil

[2015-11-04 15:40] hedefalk commented on #89
Oh, it was pretty easy to reproduce. Just type till I get no hits and press enter, right?

[2015-11-04 16:02] caente commented on #89
yeah it is, the other problem is still the same (I hadn't waited until the indexer was finished)

[2015-11-06 18:43] hedefalk commented on #30
@mrmechko Is this still something you're craving? I'm thinking it would be nice to abstract correctly before we have too much code to maintain. I haven't even understood how I can open two projects in the same window, can you walk me through?

[2015-11-06 18:44] hedefalk commented on #30
Ah, ok "open project folder". Never done that until now :)

[2015-11-06 19:04] hedefalk commented on #30
Yeah, ok, I reckon we should fix this before stuff get's messier. So the offending line is here:

https://github.com/hedefalk/ensime-atom/blob/master/lib/utils.coffee#L47

I just want to point out that I didn't do that `[0]` when I started out - there was no abstraction for multiple projects at the time. It was later that Atom started supporting multiple projects and then I just had to do that to

[2015-11-06 19:09] hedefalk commented on #30
We need to listen for active text editor to change out the bottom status bar with errors and stuff for the correct ensime client. Can't find any good method. There's:

https://atom.io/docs/api/v1.1.0/Workspace#instance-onDidChangeActivePane

which probably is usable but I would like something like:

https://atom.io/docs/api/v1.1.0/Workspace#instance-getActiveTextEditor

but as events.

[2015-11-06 20:36] hedefalk commented on #30
https://discuss.atom.io/t/observe-currentlyactivetexteditor/22471

[2015-11-07 08:56] hedefalk commented on #30
Ok, so https://atom.io/docs/api/v1.1.0/Workspace#instance-onDidStopChangingActivePaneItem seems to do the trick.

[2015-11-07 16:47] hedefalk commented on #30
Ok, so just catch up to discussion in the beginning:

I'm going to work on trying to support multiple Ensime project folders in ONE atom window/project. Still gonna use .ensime_cache in the same folder as the .ensime per project and so forth. But just not have globals for client socket and stuff. And be able to switch out ui depending on active buffer.

[2015-11-07 17:26] rorygraves commented on #30
@hedefalk FYI, Sublime does this by having a cached relationship between tab and project data.  So that all of the windows in the same proiject refer to an object containing the connection etc.

[2015-11-07 19:26] mrmechko commented on #30
@hedefalk sorry for the late response.  In the context of your last post, we're still starting an ensime server for each project, right?

[2015-11-07 21:21] hedefalk commented on #30
@mrmechko Depends on what you mean by project. One .ensime and one server per ensime project, that's just how ensime works. This is just to allow multiple ensime projects within one Atom window (which is also called project in Atom). This was what you were looking for, right?

[2015-11-07 21:26] hedefalk commented on #30
@rorygraves Yeah, cool. I think we'll be able to do something similar. At the init of each TextEditor pane we might need to do a lookup of O(#open ensime projects) to find which project it belongs to, but then we can cache it. Doesn't seem to be any "getProjectOfFile" in Atom so need to do our own substring comparison…

[2015-11-07 21:46] hedefalk commented on #30
@rorygraves Question: How do you handle commands and stuff? Is everything in the context of the currently active text buffer? I mean "typecheck all" and stuff like that?

[2015-11-07 21:47] hedefalk commented on #30
@rorygraves In some cases you might not even have an open text buffer… Hm.

[2015-11-07 23:01] hedefalk commented on #30
@rorygraves I'm trying out ensime-sublime for reference, but I can't seem to understand if you really have support for multiple ensime projects in one window? I use "Add folder to project" in ST3 after starting Ensime on one project, I open up a file from the second project and the menus are in "started state" still. It seems to me you're in the same boat as ensime-atom or do I misunderstand?

[2015-11-07 23:02] hedefalk commented on #30
<img width="990" alt="screen shot 2015-11-07 at 23 58 05" src="https://cloud.githubusercontent.com/assets/116520/11017799/f0409a58-85ab-11e5-8edb-d38cd3ef8385.png">

[2015-11-07 23:03] hedefalk commented on #30
So in the screenshot above I have already started Ensime when I had only ensime-test-project open, and then I added kostbevakningen and tried to fire up another one, but I can't seem to understand how?

[2015-11-11 12:45] hedefalk opened #93 "Uncaught TypeError: Cannot read property '0' of undefined"
1) Remove sbt settings (/usr/local/bin/sbt)
2) Update ensime server
file picker shows up
3) cancel

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.30.0

### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-17 15:58] caente opened #94 "atom auto-complete with ensime stopped"
Hi is it possible to have the default atom autocomplete when ensime server is stopped?

[2015-11-17 16:04] hedefalk commented on #94
Should be, you mean that after ensime has been started and then stopped there is no autocomplete in scala files? Sounds like a cleanup issue…

[2015-11-17 16:07] laughedelic commented on #94
I have this issue, but it wasn't always like this. So I don't know if it's related with Ensime or with some other plugins that I have..

[2015-11-17 16:29] caente commented on #94
the autocomplete comes back when disabling the plugin, any idea how this can be debugged? nothing shows in the console...

[2015-11-17 18:22] hedefalk commented on #94
I'm looking into this. Can't seem to find a way to "de-register" the provider. I want to be able to exclude other providers when Ensime is on. The provider api seems to only cleanup when the package is de-activated, but that is something we cannot do. We need our own lifecycle handling because reasons.

Posted: https://github.com/atom/autocomplete-plus/issues/616

[2015-11-17 21:03] hedefalk commented on #94
Ping @caente, @laughedelic

To summarize: It seems the autocomplete-plus plugin only removes our provider when the package is disabled. The whole provider api is kind of static: https://github.com/atom/autocomplete-plus/wiki/Provider-API

I can currently only give a one-off boolean in "excludeLowerPriority" on activation time of the package. I definitely WANT to remove bloat while an Ensime instan

[2015-11-17 21:41] caente commented on #94
@hedefalk you mean a setting in the atom plugin? how is that different from simply go there and disable it?

[2015-11-17 21:55] hedefalk commented on #94
Yes. With a bool setting you can keep default provider even with ensime started. Will be dups though.

[2015-11-17 22:03] caente commented on #94
ah I see... well at least I'll be willing to give it a try

[2015-11-24 08:47] n3ziniuka5 opened #96 "Type at caret"
Currently to check the type of a variable you have to hover your mouse over it. I prefer developing without using my mouse. There could be a shortcut(alt-= in IDEA) to view variable type at caret. Could also show the type of a highlighted expression.

[2015-11-24 09:12] hedefalk commented on #96
Should be pretty easy to implement. I made a command for code navigation, but never thought of doing it for just showing type. I'm in the middle of a major restructuring of the code so unfortunately I can't do it right now, but I'll be back to it soon!

Thanks for reporting!

[2015-11-24 10:20] hedefalk opened #97 "Make number of autocomplete suggestion a config"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28563421-make-number-of-autocomplete-suggestion-a-config?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14719420&utm_medium=issues&utm_

[2015-11-24 10:23] laughedelic opened #98 "Type tooltip on hover with a hotkey"
I've tried to use ensime with hyperclick and had this idea (coming back to my concerns from #55, at the moment I just turned it off), would it be hard to do so that the type tooltip is shown only when you hold a hotkey and hover over a symbol? hyperclick get's activated by a hotkey and when you hover, it underlines the word, so I'd like it to be the same with the type tooltip.

[2015-11-24 10:26] #97 closed

[2015-11-24 12:03] hedefalk commented on #98
Definitely doable. But it needs to be put under a setting since I personally want it without :)

If you wanna have a go yourself you can look here:

https://github.com/ensime/ensime-atom/blob/master/lib/features/show-types.coffee#L16

I think you want to look at the mouse event for keys pressed and put the stuff under an if-statement.

[2015-11-25 09:15] n3ziniuka5 opened #100 "Type info not updated after automatic typecheck"
I have `Typecheck When` set on `save`. Then let's say I add this code and save the file:
[code]
Now I get correct autocompletion for `a.`, but when I hover over `a` it does not show the type information, not until I manually activate the command `ensime:typecheck-file`.

Then I change the code to the following and save the file:
[code]
Now hovering over `a` shows `Set[Int]` until I again manually

[2015-11-25 09:37] hedefalk commented on #100
Sounds weird. I cannot reproduce. I tried your exact scenario and type on hover updates after saving for me. I never use typecheck-file command.

The difference between typecheckFile and typecheckBuffer is that typecheckBuffer sends the file contents too so it can be used while typing (before saving):

[code]

Can you try to isolate in a github repo? Maybe it's some combination of stuff that messe

[2015-11-25 09:56] n3ziniuka5 commented on #100
I tried different projects and also tried on a new play project (2.4.4 created from the activator cli). Opened `Application.scala` and reproduced the issue there every time. Might be an OS-specific thing, I'm running Arch.

Also tried the newest atom beta, didn't help. Also tried changing the setting to `typing`, didn't help as well.

I will try to do some investigation on this myself, this or the

[2015-11-25 11:38] hedefalk commented on #100
Weird. Sorry, but I can't seem to reproduce no matter what. One thing you can do it so open the dev console and paste all the client/server communication logged in the issue so I can compare with my working environment.

[2015-11-25 12:24] n3ziniuka5 commented on #100
Here it is http://pastebin.com/NMBdrg5j

Some key lines to check so you do not have to look through the whole file:
3 - initial type reported is `Set[Int]` (correct)
11 - file save and automated request for typecheck, as you can see in the contents sent, now `a = Set("1, 2, 3")`
--- some more automated typechecks here, not sure why they triggered I didn't change the content though
31 - reported ty

[2015-11-26 08:51] slomo commented on #47
How about reading this path by calling which? Or maybe just assuming that sbt might be on the path anyway?

[2015-11-26 09:05] hedefalk commented on #47
@slomo:
1) Calling which just resolves the absolute path if it IS on $PATH.
2) Problem is you do not have your bash/zsh or whatever $PATH at all when you start Atom as an OSX app.

You can try yourself by just opening dev tools in Atom and:

require('child_process').exec("which sbt", function(error, stdout, stderr) {console.log(stdout)});

To me it's empty.

[2015-11-26 23:11] mdedetrich opened #101 "Error when installing latest ensime"
Here is the stack trace reported by atom

https://gist.github.com/mdedetrich/098ea186bc99cee969cf

[2015-11-27 06:39] hedefalk commented on #101
Tried to reproduce, but can't. The error suggests that this line was run twice:

https://github.com/ensime/ensime-atom/blob/v0.31.0/lib/views/implicit-info-view.coffee#L66

Can it be you have two ensime-atom installed under packages? Maybe one softlink for dev and a one from apm?

Otherwise, just try to restart Atom…?

[2015-11-27 06:44] mdedetrich commented on #101
I uninstalled the hyperclick package, however I am getting this now

https://gist.github.com/mdedetrich/22b34015f5c8df398c4f

[2015-11-27 08:19] raboof opened #102 "Conflicts with hyperclick/nuclide by not providing a providerName"
It seems when hyperclick/nuclide is installed, an error is thrown when another package is installed that has no `providerName`.

The Ensime package is such a package.

This is arguably an issue with nuclide (https://github.com/facebook/nuclide/issues/229), but we might want to consider adding this `providerName` anyway.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-11-27 08:36] hedefalk commented on #101
1) What was wrong with hyperclick?

2) The new error suggests you don't have any .ensime in your first project folder. It's this pretty broken line:

https://github.com/ensime/ensime-atom/blob/v0.31.0/lib/utils.coffee#L47

I'm currently reworking this to support multiple ensime projects within one Atom project, but there's a lot of work still to fix all the broken assumptions.

[2015-11-27 08:42] #102 closed

[2015-11-27 08:43] hedefalk commented on #102
Thanks for analysis!

Released v0.31.1 with providerName. Please try!

[2015-11-27 08:45] hedefalk commented on #101
Ok, I guess the hyperclick thing is related with #102. Released v0.31.1 that should fix that. The later issue seems to me to be you either have more than one folder in your project which unfortunately currently isn't supported. I'm working on it though!

[2015-11-27 09:42] raboof commented on #102
Confirmed fixed! Thanks!

[2015-11-27 10:50] mdedetrich commented on #101
The hyperclick thing is indeed fixed, thanks!

[2015-12-03 06:20] mdedetrich commented on #101
Okay, so these problems were generally fixed. The issue with missing imports was due to using an outdated gen-ensime. So its now fixed, closing this issue

[2015-12-03 06:20] #101 closed

[2015-12-04 01:46] prurph opened #104 "Doesn't play nicely with symlinked sbt"
I'm on OS X and have used homebrew to install sbt. As a result I have my sbt symlinked to the actual binary like `/usr/local/bin/sbt -> /usr/local/Cellar/sbt/0.13.9/bin/sbt`

This causes problems for the plugin--when you try to run Ensime update with the sbt path set to `/usr/local/bin/sbt` (the output of `which sbt`) nothing happens and there is no log our output created. The Atom devtools reveal

[2015-12-04 02:10] prurph commented on #104
Huh, after doing all of that I switched back to the symlink `/usr/local/bin/sbt` and everything worked fine. If nobody else has experienced this I'm going to assume I fat-fingered something the first 5 times I tried that. :]

[2015-12-04 02:10] #104 closed

[2015-12-04 09:08] hedefalk commented on #104
Glad it sorted itself out :)

[2015-12-07 15:58] siriux commented on #60
Same problem here. In my example happens on Structural Types, probably the same on scalaz.

[2015-12-07 19:04] siriux opened #105 "Add refactoring support"
I think it would be great to have support for refactoring, that it' s already present in ensime.

The basic would be rename, but extract method and online local are also useful.

[2015-12-07 19:41] hedefalk commented on #60
Yeah, this is enough to show `<refinement>`:

[code]

[2015-12-07 19:49] hedefalk commented on #60
How to write it in UI?

Foo {…}

Eclipse does:

 `AnyRef with Foo { .. }` ?

[2015-12-07 20:07] hedefalk commented on #60
`Foo with Object`in IDEA :)

[2015-12-07 20:08] hedefalk commented on #60
Seems they have the opposite idea if trait linearization?

[2015-12-08 07:08] siriux commented on #60
But that doesn't cover the structural type case.

var x = new { def foo = 3 }

That should show something similar to {def foo: Int} for the type.

With the trait it would be the same if you provide new members inside {}

[2015-12-08 12:02] hedefalk commented on #60
TODO: Check what ensime-sublime displays.

[2015-12-12 11:17] alexarchambault commented on #93
Getting the same with atom `1.3.1` / OS X `10.11.1`.

[2015-12-12 11:25] alexarchambault commented on #93
Solved it by setting `Ensime.sbtExec` in the atom config (add something like `atom.config.set('Ensime.sbtExec', '/usr/local/bin/sbt')` to `~/.atom/init.coffee`).

[2015-12-13 14:59] n3ziniuka5 commented on #100
Couldn't reproduce this on my home machine... My work and home machines are both running Arch, with home machine running it on VirtualBox.

[2015-12-19 10:19] fommil opened #106 "use diff based refactoring API"
https://github.com/ensime/ensime-server/pull/1180

[2016-01-12 21:40] hedefalk commented on #106
I'm working on it now finally. I'm using https://github.com/kpdecker/jsdiff which seems to be able to do the job just fine.

[2016-01-12 21:41] fommil commented on #106
:smile:

[2016-01-13 16:05] monkeygroover opened #107 "Uncaught TypeError: Cannot read property 'dispose' of null"
Following error when triggering Ensime:Stop

**Atom Version**: 1.3.3
**System**: Ubuntu 14.04.3
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.31.1

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-19 09:03] fommil opened #110 "move docs/readme to ensime.org"
we are trying to consolidate all docs. Please move your README to http://ensime.github.io/editors/atom/ and follow the README convention e.g. https://raw.githubusercontent.com/ensime/ensime-server/master/README.md

the other half of https://github.com/ensime/ensime.github.io/issues/12

[2016-01-24 15:28] mslinn opened #112 "Windows Install Fails due to missing VCBuild"
Here is the error message. It seems odd that I should need to install such an old version of .NET SDK, or any version of the .NET SDK in order to install Ensime. Using Windows 7 Pro 64-bit:

[code]

[2016-01-24 16:59] hedefalk commented on #112
Weird. Must be since I added dependency on scandal for matching files. I remember I had problems with node-gyp and fsevents on OSX's dev tools too…

Could you please try running `npm install`on just scandal inside node_modules? Or just try "npm install scandal" somewhere else…? I would guess this errors too and we need to report on scandal…

[2016-01-24 17:00] hedefalk commented on #112
This is the repo: https://github.com/atom/scandal

Could you try npm install on this project? I'm sorry, I don't have any Windows machine to reproduce on…

[2016-01-24 17:02] hedefalk commented on #112
Found this too:

https://github.com/npm/npm/issues/8169

[2016-01-24 17:07] mslinn commented on #112
I don't have access to the Windows laptop that I reported the error on at the moment. I tried installing the Ensime plugin for Atom on another Windows machine just now and got this:

[code]

I also found this:

[code]

Looks like the plugin assumes that most *nix dependencies should be available, which is not going to be the case for most Windows installations. BTW, there was no problem installing

[2016-01-24 17:59] hedefalk commented on #112
Hm, yeah. I don't know much about Windows but it seems that stuff isn't really supported out of the box:

https://github.com/nodejs/node-gyp#installation

So node-gyp is a thing for native stuff. Seems it is dependent on Python on path.

[2016-01-24 18:02] hedefalk commented on #112
Anyways, I would be super happy if you could report on https://github.com/atom/scandal/ which seems to be the origin of it. At least the first one. If you could checkout that project and run "npm install" and get the same issue there, then we have isolated it.

I really do want to support Windows!

[2016-01-24 18:04] mslinn commented on #112
The only way to support a platform is to test on that platform. I am just investigating the maturity of Atom and Ensime on Atom. I don't want to get involved at this time, thanks.

[2016-01-24 21:50] gaydenko opened #113 "Uncaught ReferenceError: remote is not defined"
Newly installed atom is in hands. Have started ensime with attempt to open just generated `.enisme` (it does work with ensime-emacs).
//------------------------------------------------------------------
**Atom Version**: 1.4.0
**System**: linux 4.3.3-3-ARCH
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.32.0

### Stack Trace

Uncaught ReferenceError: remote is not def

[2016-01-25 04:53] yoeluk opened #114 "java.lang.StackOverflowError: null at ensime startup in atom"
I get this error pretty consistently in almost all of my projects but one.

[code]

[2016-01-25 09:58] gaydenko commented on #113
It seems the package could not base on PATH to get sbt script - after explicitly setting path to sbt the machine turned on :) Sorry for noise.

[2016-01-25 09:58] #113 closed

[2016-01-25 12:53] makovich commented on #112
I cloned [scandal](https://github.com/atom/scandal/), ran `npm install` and got the same message:

[code]

So Ensime@0.32 has a new [scandal](https://github.com/atom/scandal/) dependency which in turn depend on [git-utils](https://github.com/atom/git-utils) that [built natively on top of libgit2](https://github.com/atom/git-utils#git-node-module-) and so on Windows platform needs [node-gyp](https:

[2016-01-25 15:29] hedefalk commented on #112
@makovich Thanks a lot for you investigation. I added the dependency for scandal simply to search for files and thought that would be safe since it's from the atom team… Could you report this issue there too and link this one.

I could probably replace it with something else if it's not quickly fixed.

[2016-01-25 15:52] hedefalk commented on #114
I recognize this as either be solved by wiping .ensime_cache OR ensime stuff in ~/.ivy. @fommil might remember better. I think it's a cache issue. Try rm -r .ensime_cache under your project.

[2016-01-25 16:13] hedefalk commented on #112
@makovich Thanks a lot for investigating. I went ahead and just quick-reported on scandal.

[2016-01-25 16:13] hedefalk commented on #112
@makovich Actually the bug is upstream from there too so would maybe be even better to report on git-utils. Gotta run now though, but please report there if you have the time.

[2016-01-25 16:36] fommil commented on #114
without a reproduction project, I have no idea what is going wrong.

[2016-01-25 16:36] fommil commented on #114
I can only assume that you've following the instructions here? :wink: http://ensime.github.io/getting_help/

[2016-01-25 20:00] hedefalk commented on #114
@fommil i thought you maybe remembered that soe in jerk that i had problems
with too. This seems tp be the same. I can try to find it...

On Mon, Jan 25, 2016, 17:36 Sam Halliday notifications@github.com wrote:

[2016-01-25 20:26] yoeluk commented on #114
Perhaps my system is ill-setup for ensime. I detected that my .ensime had a dependency on an old downloaded activator directory (untar activator that was located on my download folder) so I deleted that and regenerated the .ensime and things changed again.

Now I get this error logged

[code]

Deleting the .ensime_cache did not change things. Although I think that's environmental one project that

[2016-01-25 21:17] fommil commented on #114
number 1 on the list is to clear out your broken ivy cache.

[2016-01-25 22:42] yoeluk commented on #114
@fommil I have done several times unsuccessfully. I did it again before posting here with the ill-result posted above. Here is my generated .ensime

[code]

[2016-01-25 22:47] fommil commented on #114
Your ivy cache is definitely broken. I can tell by the lack of classes on your classpath.

[2016-01-25 22:50] yoeluk commented on #114
thanks @fommil for looking at that... I think I need bigger surgery than deleting the cache...

[2016-01-25 22:50] #114 closed

[2016-01-25 22:59] fommil commented on #114
Btw you only mention the ensime cache above. That's not what I mean. I mean your ivy cache. The whole `~/.ivy2`

[2016-01-25 23:06] maxbrunsfeld commented on #112
@mslinn @makovich Atom's package system relies on node.js modules. Many node modules contain C and C++ code that must be compiled during installation. The system requirements for installing such modules are listed [here](https://github.com/nodejs/node-gyp#installation).

[2016-01-25 23:09] yoeluk commented on #114
I have deleted the `~/.ivy2/cache` folder several time but incidentally found that `~/.sbt/repositories` has some reference to that folder I said above I deleted `~/Downloads/activator-dist-1.3.7/..`

I am in the process of figuring out what the correct configuration is for this file.

[code]

[2016-01-25 23:47] yoeluk commented on #114
I resolved my issue... just adding this comment for reference to other (if ever anyone goes through similar problems)... I did delete the whole .ivy2 but my calamity just increased. @fommil is spot on, my problems boiled down to a broken ivy so I downloaded `activator` and created a `ln -s` to the executable (ran `activator ui` in the hope that it knows how to configure my system) and set this lin

[2016-01-26 00:04] fommil commented on #114
We should add a zeroeth rule: delete all activators, unbelievably less reliable than flaky ivy caches.

[2016-01-26 00:21] makovich commented on #112
@hedefalk please take a look at PR. It seems that it might work now. :)

[2016-01-26 06:38] hedefalk commented on #112
Should be closed in v0.32.1. Thanks @makovich for fixing this!

[2016-01-26 06:38] #112 closed

[2016-01-26 06:42] hedefalk commented on #107
Sorry for late response. Should be fixed in 0.32.1.

[2016-01-26 06:42] #107 closed

[2016-01-26 06:42] hedefalk commented on #106
This is done in >= 0.32

[2016-01-26 06:42] #106 closed

[2016-01-26 06:44] hedefalk commented on #1
I'm going to close this one. Doesn't seem to happen any longer.

[2016-01-26 06:44] #1 closed

[2016-01-26 06:52] gaydenko opened #116 "false errors on implicits"
HI!

I have created test project: https://github.com/gaydenko/eatom-implicit
Get it, compile, then
- generate `.ensime`,
- open in Atom,
- start ensime,
- start `Typecheck All`,
- make any edit in Test.scala,
- save the file,
- get the false error as shown on the attached image.

![ensime-atom-implicit](https://cloud.githubusercontent.com/assets/3740016/12574175/675e7a0c-c412-11e5-981f-25ceb757f93

[2016-01-26 06:55] fommil commented on #106
Nice!

[2016-01-26 07:44] monkeygroover commented on #107
thanks!

[2016-01-27 15:08] leftofnull opened #118 "Unable to stop ensime in atom on version 0.32.0 & 0.32.1 on mac"
I am able to start up ensime just fine from within the editor. I receive the new prompt to select the .ensime file, I only have one, and it starts up okay. If I need to stop it by running `Cmd+Shift+P > Ensime: Stop` I am prompted to select the .ensime file again and after selecting it, ensime continues to run. I still have the menu option for `Ensime: Stop`. Worse is that if I try to start it aga

[2016-01-27 15:15] gaydenko commented on #118
The same on Linux.

[2016-01-27 15:22] hedefalk commented on #118
Ooh, nice. I'll look into it! I think I might have just forgotten about killing it off :)

[2016-01-27 15:44] hedefalk commented on #118
Fixed in v0.32.2 I hope. A bit rushed fix but works for me. I actually keep my "ensimes" running all the time while developing so just missed this. My plan is that the "start/stop" dialog will show status of the form of red and green balls for both server and client.

[2016-01-27 17:22] gaydenko commented on #118
@hedefalk , thanks for fixing. Nevertheless:
- if we start without ensime cache, after the first start jars are updated and downloaded, server started, but it doesn't stop on stop command
- after stopping the server manually I have restarted atom, and this time start/stop do work.

Arch Linux is in use.

[2016-01-28 09:03] hedefalk commented on #118
@gaydenko Ok, I'll look into it!

[2016-01-28 11:39] d6y commented on #116
Hi @gaydenko - I've tried that using the latest Atom Ensime on a Mac and I'm not yet able to reproduce the problem.

![test scala p1 users richard tmp eatom-implicit 2016-01-28 11-33-05](https://cloud.githubusercontent.com/assets/102661/12643392/b65e6e26-c5b3-11e5-8736-d3c8181804e5.png)

I'm now wondering what else is different about our set up.  Any thoughts?

[2016-01-28 11:44] fommil commented on #116
are you sure you don't have stale ensime server jars in `~/.ivy2/local` ?

[2016-01-28 11:49] gaydenko commented on #116
@d6y , thanks for joining! Probably @hedefalk will say which additional information is important here. For a while:

[code]

[2016-01-28 11:51] gaydenko commented on #116
@fommil , thanks for pointing! Unfortunately, looking for other ENSIME discussion, I have already redownloaded the world, and it didn't help.

@fommil , and, well, with Emacs all works fine with the same `~/.ivy2` and `.ensime`.

[2016-01-28 12:16] hedefalk commented on #116
I just reproduced this.

As a side-note, following the instructions I found a bug that I couldn't get the "active ensime instance" if I didn't have an open file. This I just fixed.

The false positives remains. It is an ensime server issue provoked by the series of requests made by the Atom client. I just cut out the log of this and maybe this can help track it down. With a bit of holding hand I c

[2016-01-28 12:18] hedefalk commented on #116
There seems to be unnecessary extra `TypecheckFileReq` sent by atom that I don't know why they're there. I will look into this. Maybe these provokes some kind of weirdness in server…

[2016-01-28 12:21] hedefalk commented on #116
The small first issue fix: https://github.com/hedefalk/ensime-atom/commit/0037b0cd98ba11f11ce7576fbc6a232e4d9e471f

[2016-01-28 12:21] fommil commented on #116
hmm, this rings bells about bugs in the scala compiler of memory vs real files.

btw, we strongly recommend that you do not use `contents`, prefer `contentsIn`... it's **much** faster.

[2016-01-28 12:25] hedefalk commented on #116
@fommil `contentsIn`\- that means writing out editor content to temp file and sending the path?

So you emacs guys just postpend ~ ? Bastards.

Why is that faster? Will using `contentsIn` make the "memory vs real files" issue go away?

[2016-01-28 12:45] fommil commented on #116
It might do, the compiler is magical.

Every character in `contents` is parsed and unescaped, whereas a temp file is slurped in raw. Way faster.

[2016-01-28 12:57] hedefalk commented on #116
Ok, I'll fix that then!

[2016-01-29 12:47] d6y opened #120 "Lookup instances out of source folder"
Imported from README:

[2016-01-29 12:48] d6y opened #121 "Hook to switch out bottom pane"
Imported from README

[2016-01-29 12:48] d6y opened #122 "Include server/client info in start/stop"
Imported from README:

[2016-01-29 12:49] d6y opened #123 "Don't use jquery for status bar"
Imported from README:

[2016-01-29 12:50] d6y opened #124 "Custom attributes per instance"
Imported from README:

[2016-01-29 12:50] d6y opened #125 "Use path.dirname(module.filename)"
Imported from README:

[2016-01-29 12:51] d6y opened #126 "Use .vue"
Imported from README:

[2016-01-29 12:52] d6y opened #127 "Alt-enter for quick imports"
Imported from README:

[2016-01-29 12:53] d6y opened #128 "Wait for analyzer ready msg"
Imported from README:

`(:return (:abort 209 "Analyzer is not ready! Please wait.") 4)`

[2016-01-29 12:54] d6y opened #129 "Server log when Atom is reloaded"
Imported from README:

[2016-01-29 12:54] d6y opened #130 "Tabs for errors/warnings in bottom panel"
Imported from README:

[2016-01-29 12:55] d6y opened #131 "Use Scala.js"
Imported from README:

[2016-01-29 12:58] d6y opened #132 "Open in github"
Imported from README:

This link is dead, but was in the readme:

https://github.com/xebia/cakemix/blob/master/.ensime_cache/dep-src/source-jars/scala/concurrent/duration/package.scala#L17

[2016-01-29 13:18] #110 closed

[2016-01-29 13:24] hedefalk commented on #132
I think I want to move this to server. I'll explain:

In _modern_ editors like Atom :), you typically have commands like "Open on github" which is a pretty convenient way of getting an url to pin down a file or line of a file in a dependency that you can post in bug reports or IM. I guess it reads URL from .git if it's a first class project, but it would probably be possible to hook into this and

[2016-01-29 13:25] hedefalk commented on #132
This issue was moved to ensime/ensime-server#1265

[2016-01-29 13:25] #132 closed

[2016-01-29 13:26] hedefalk commented on #120
I think this is pretty much fixed up. When starting ensime, we now select from any file named `.ensime` under the project root.

[2016-01-29 13:26] #120 closed

[2016-01-29 13:27] hedefalk commented on #131
Don't think I want to do this anymore. I'm a script kid now. Maybe purescript would be cool though…

[2016-01-29 13:27] #131 closed

[2016-01-29 13:28] hedefalk commented on #121
Done!

[2016-01-29 13:28] #121 closed

[2016-01-29 14:06] hedefalk commented on #122
So the idea here is to add info of the current state. red/green balls for server and client that indicates started or not.

[2016-01-29 14:08] hedefalk commented on #129
Yeah, logging of server should be looked into. Should probably better just pipe it to file.

[2016-01-29 14:08] hedefalk commented on #128
This is most definitely already fixed.

[2016-01-29 14:08] #128 closed

[2016-01-29 14:11] hedefalk commented on #126
Would be cool, but not necessary. On webprojects I've used webpack with vue-loader: https://github.com/vuejs/vue-loader.

Doesn't seem trivial to hook into atom's dep resolution though so I don't think this is reasonable time spent. Can just write html in js for now.

[2016-01-29 14:11] #126 closed

[2016-01-29 14:23] hedefalk commented on #124
Idea here is to listen to the editors at activation and lookup the ensime instance just once. Then we can register the commands for say "typecheck all" to be for this specific editor. And remove all the "global" commands from `window` or `workspace`or where they now are…

[2016-01-29 14:24] hedefalk commented on #123
Pretty sure this is fixed.

[2016-01-29 14:24] #123 closed

[2016-01-29 18:54] hedefalk commented on #118
@gaydenko I can't recreate since my fix. For servers that where started _before_ this fix, there is certainly no hope - there is no child-process reference to kill off, but I just tried the following:

rm -r  ~/.atom/packages/Ensime/classpath\* to make sure I get a server update
rm -r testproject/.ensime_cache
ensime:start -> choose testproject
ensime:stop -> choose testproject

No running ensime

[2016-01-29 18:54] #118 closed

[2016-01-29 19:00] hedefalk commented on #100
Are you still having these issues? I want to close off issues here to use it as a real backlog.

I think I'm going to change Atom to use `contentsIn` instead of `contents`to send the path of a temp file instead of contents over the wire which ensime-emacs does. It is apparently faster and might help with similar issues. I guess we wont diverge much in proving issues that emacs doesn't.

[2016-01-29 20:13] leftofnull commented on #118
Fix has been working great for me, wanted to say thanks for the quick turn-around. I love this plugin.

[2016-01-29 21:10] hedefalk opened #134 "Very large fonts in error panel…"
https://github.com/fv0/native-ui/issues/43

Should we vote? It's of course possible to override in your own settings…

[2016-01-29 21:38] d6y commented on #134
"Atom / Open your stylesheet" is my friend these days.  It should be a sensible default, so smaller is good by me.

[2016-01-29 22:20] fommil opened #135 "support alternatives to the sbt launcher"
emacs also supports the assembly jars (minus base scala libraries) at http://ensime.typelevel.org/ and we're planning on moving to coursier since it's much much faster than sbt for incremental updates https://github.com/alexarchambault/coursier

The idea is simple for the assembly jars: get the assembly jar for your minor version of scala, stick on the `:scala-compiler-jars` from `.ensime` and lau

[2016-01-30 07:13] hedefalk commented on #135
Cool

[2016-01-30 18:08] d6y commented on #130
Related: https://github.com/tcarlsen/atom-message-panel/issues/34

[2016-02-01 05:29] renpillay opened #138 "Uncaught SyntaxError: Unexpected token ("
Seems to be the same error as https://github.com/ensime/ensime-atom/issues/45, but that was related to Scala 2.10 and I'm on Scala 2.11

OS: OS X 10.11
Atom Version: 1.4.1
Ensime Plugin Version: 0.32.2

I open up Atom, cmd-shift-p, start: Ensime, then select my .ensime file. The following error and stacktrace then appear.

[code]

[2016-02-01 05:36] hedefalk commented on #138
You have an old ensime-server talking lispy swank protocol even though client requested json. Clear ivy cache and/or ivy local.

[2016-02-01 05:37] #134 closed

[2016-02-01 06:07] renpillay commented on #138
Ah! Seems good now. Thanks

[2016-02-01 07:35] #138 closed

[2016-02-01 09:14] d6y opened #139 "Navigate to documentation"
Lookup the documentation for the selected symbol, or the symbol under the cursor,

[2016-02-01 09:16] hedefalk commented on #139
Yey! Go grrrl! I want this.

[2016-02-01 09:22] d6y commented on #139
OK :-)  I'll be progressing this over in this branch: https://github.com/d6y/atom-ensime/tree/feature/doc

[2016-02-01 09:24] hedefalk commented on #139
Cool!

[2016-02-01 10:06] hedefalk commented on #30
Fixed since 0.32

[2016-02-01 10:06] #30 closed

[2016-02-01 10:08] hedefalk opened #140 "In-atom command for sbt gen-ensime"
Pretty self-explainatory. First just add this as manual command. Should restart ensime too.

When that works, we could of course add a setting to monitor build.sbt or whatever, but I'm not too sure anyone really wants this without a more advanced "make sure dependencies really have changed" thingy.

[2016-02-01 15:07] hedefalk opened #141 "Build.sbt is indexed by non-meta ensime project."
My build.sbt is added to my non-meta project since the src -> ensime instance lookup is faulty. This gives me tons of errors.

Need to use the src-roots of .ensime only and not some kind of path prefix.

This:

https://github.com/hedefalk/ensime-atom/blob/master/lib/ensime-client/ensime-instance-manager.coffee#L26-L27

[2016-02-01 15:46] #141 closed

[2016-02-01 16:05] n3ziniuka5 commented on #100
Just checked on my both machines and it looks OK now, maybe there was an issue with atom itself.

[2016-02-01 16:05] #100 closed

[2016-02-02 21:45] ribeirofelix opened #144 "Uncaught Error: ENOENT: no such file or directory, open '~/.atom/packages/Ensime/ensime..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.2-fb0cb45
**System**: Ubuntu 14.04.3
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.32.2

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/home/felix/.atom/packages/Ensime/ensime_update_/project/build.properties'

[code]

### Commands

[code]

### Config

[code]

### Inst

[2016-02-03 05:44] hedefalk commented on #144
Weird. This is the relevant code block:

[code]

from here https://github.com/hedefalk/ensime-atom/blob/master/lib/ensime-server-update.coffee#L69

I can't seem to understand how you can get a "no such file or directory" on that line… Hm. Can you check permissions on that folder? But it should fail earlier…

[2016-02-03 12:42] ribeirofelix commented on #144
Hi,

I checked the folder "project" and there wasn't there. So, I created it and started ensime again, now it works...

But, It should be necessary the manual folder creation?

[2016-02-03 12:46] hedefalk commented on #144
No, it shouldn't so this is definitely a bug. I guess there's something weird with permissions. Can you check owner + permissions on:

'/home/felix/.atom/packages/Ensime
'/home/felix/.atom/packages/Ensime/ensime_update_
'/home/felix/.atom/packages/Ensime/ensime_update_/project

Do you run atom with sudo?

Do I understand correct that "ensime_update_" folder was there but not "project" inside? Real

[2016-02-03 12:48] hedefalk commented on #144
What I mean is it's really weird if only project dir was missing since they are created in one run:

[code]

[2016-02-03 12:54] ribeirofelix commented on #144
[code]

and No, i do not run Atom with sudo.

and Yes, "ensime_update_" was there but not  "project".

and Yes: really weird!

[2016-02-03 13:49] hedefalk commented on #144
SUPER WEIRD. I just understand how this can be. It basically could boil down to this simple spec:

[code]

For me, this of course works. Would be super cool if you could run this in the context of Atom…  I'm gonna add this as a test case and If I get a bit of time I'll try to run it from an Ubuntu docker image.

[2016-02-03 22:47] fommil opened #145 "monkeys first"
the monkeys jar should come first so that the evil can be witnessed.

[2016-02-04 13:14] hedefalk opened #146 "Search public symbol broken"

[2016-02-04 13:15] hedefalk commented on #145
That's a brief task description :)

So, I should look here: https://github.com/ensime/ensime-emacs/commit/52db33ae0304952d2deac6f4467fbeeee75bc62b

?

jar's with _monkey_ goes first in classpath? Too hard to make gen-ensime fix it?

[2016-02-04 13:21] fommil commented on #145
this is the server launcher, it's not `ensime-sbt` that does this. Unfortunately this is one of those cases where the client has to do it.

[2016-02-04 22:10] #139 closed

[2016-02-05 08:49] d6y commented on #86
How about we use GitHub release notes.  It's manual, but at least in GitHub and we can build up a draft over time.

Here's what I've scribbled down for 0.33.0:

![edit release ensime ensime-atom 2016-02-05 08-48-17](https://cloud.githubusercontent.com/assets/102661/12841675/5597c17c-cbe5-11e5-84f0-89bc8ecad6db.png)

[2016-02-05 09:20] hedefalk commented on #86
Good enough for me!

[2016-02-05 09:21] hedefalk commented on #86
Probably easier to maintain than being super strict about commit messages and rebasing strategies and stuff.

[2016-02-05 09:42] d6y commented on #86
Ok - let's see how it goes then. I've pressed "publish" on the notes: https://github.com/ensime/ensime-atom/releases/tag/v0.33.0

[2016-02-05 09:42] #86 closed

[2016-02-05 17:25] d6y commented on #144
I've just got this error too.

![settings users richard desktop qcon london 2016 code 2016-02-05 17-08-04](https://cloud.githubusercontent.com/assets/102661/12853268/1f176422-cc2b-11e5-8666-a46aad3ca3f9.png)

The offending file in my case is http (added recently for the ScalaDoc lookup).  The file did exist when I went to check it from the sheel.  Could need extra watch on the `http` file too?

I

[2016-02-05 19:07] hedefalk commented on #144
Same top of the stack error message, but I think the problem @d6y has is pretty is separate to the original and has been fixed by his PR.

The original one is for creating a file under a folder that should have been created just before, sync. It says "open" but it's from within "writeFileSync" and I started reading the node code for it and I think it's the file descriptor that's "opened". The " no

[2016-02-06 23:05] laughedelic commented on #86
it's great! thanks @d6y :+1:

[2016-02-07 13:06] stevendobay opened #151 "Uncaught Error: ENOENT: no such file or directory, open '/home/steven/Workspace/eve/.ensime_cache..."
[Enter steps to reproduce below:]

1. Installed latest atom / ensime
2. typed 'gen-ensime' into sbt
3. ran Ensime:Start

**Atom Version**: 1.4.3
**System**: Linux Mint
**Thrown From**: [Ensime](https://github.com/ensime/ensime-atom) package, v0.33.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/home/steven/Workspace/eve/.ensime_cache/http'

[code]

### Commands

[code

[2016-02-07 13:44] hedefalk commented on #151
Oh, this is fixed by @d6y 's https://github.com/ensime/ensime-atom/commit/69e93265735a747eeb9b4ba338ae25d1c5614a85

but I have failed to release the patch. Doing know. Expect 0.33.1 out in a few sec.

[2016-02-07 13:44] #151 closed

[2016-02-07 13:46] hedefalk commented on #151
0.33.1 published.

[2016-02-07 15:01] ghost commented on #151
@hedefalk thank you!

[2016-02-07 23:35] stevendobay opened #153 "Ensime shows a lot of fake errors."
Hi all!
 My issues: almost every import is 'unused' which isn't in the standard lib and doesn't recognize the 'to' operator in

    for(i <- 0 to n) // value to is not a member of Int

Also, it doesn't check all sources in an sbt project and code completion doesn't work.

Reproducing:
 1. Install latest atom/atom ensime
 2. generate .ensime with 'gen-ensime' (no errors)
 3. add project folder, 'En

[2016-02-08 06:35] hedefalk commented on #153
False positives are always almost upstream server issues and even upstream form there -> Presentation compiler.

However, there are so many bug reports on this anyways so no use reporting without proper test case.

There are client differences too, like described here:

https://github.com/ensime/ensime-atom/issues/116

I'll leave this issue here as I'm about to make Atom behave more or less exactl

[2016-02-08 10:30] ghost commented on #153
@hedefalk Yesterday, I've tested ensime on every supported code editor but unfortunately non of them worked. The behaviour were the same, ensime was freshly installed on all. I've tried to use ensime so many times but I don't remember it working correctly or not showing a million errors. Isn't there a configuration/requirement missing in the installation guide?

[2016-02-08 10:42] ghost commented on #153
@hedefalk I'll create a new hello world project and try again, and I'll try ensime on a fresh installed OS.

[2016-02-08 10:50] ghost commented on #153
@hedefalk it works with a new minimal-scala activator project. But gen-ensime have a message: "No Java sources detected in /usr/lib/jvm/java-8-openjdk-amd64 (your ENSIME experience will not be as good as it could be.)". This issue's origin could be either gen-ensime or the ensime-start module.

[2016-02-08 10:56] rorygraves commented on #153
@stevendobay This is a warning - your jdk installation does not have the sources jar.  This will not affect the main functionality but you will be unable to jump to the source of a java core class. (e.g. System).  You can download this manually from the open-jdk side and place the file (zip I think) into your jdk installation.

[2016-02-08 10:57] ghost commented on #153
@rorygraves I've checked and the src.zip is there.

[2016-02-08 10:58] ghost commented on #153
@hedefalk For other projects it still doesn't work. The target project is https://github.com/stevendobay/eve
gen-ensime output:

[code]

[2016-02-08 11:01] rorygraves commented on #153
The src lookup is defined here:
https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala#L263
Its not very smart - is your JAVA_HOME pointing at the jre without the src zip by any chance?

[2016-02-08 11:05] ghost commented on #153
@rorygraves

[code]

[2016-02-08 11:08] ghost commented on #153
@rorygraves my bad, that's a broken symbolic link

[2016-02-08 11:08] rorygraves commented on #153
D'oh, yes I am an idiot ;)  - I have no idea why that code is not picking up the src jar then.

[2016-02-08 11:09] rorygraves commented on #153
Ah ha.  Was starting to wonder about my sanity when you posted your previous comment pointing out I can't read simple error messages.

[2016-02-08 11:10] rorygraves commented on #153
Hmm, looking at your test project, my suspicion is that the presentation compiler is not coping well with the various macro magic that is going on.  I suspect Eclipse will have similar problems.  (at the end of the day they both rely on the presentation compiler).  We have seen various cases where the compiler will work, but the presentation compiler reports errors.

[2016-02-08 11:25] ghost commented on #153
@rorygraves your theory could be true, I've tried it and it worked with a macroless project. So, is it possible to fix it or there will be a warning about the macro-magic incompatibility?

[2016-02-08 11:56] rorygraves commented on #153
Honestly I'm not expecting it to change any time soon.  It is an issue with the scala compiler which has been reported before.  The other question that this brings up, is that, from a client perspective, is there anything we can do to make it more usable in this case.  @fommil  Thoughts?

[2016-02-08 12:02] fommil commented on #153
https://github.com/ensime/ensime-server/issues/673

[2016-02-08 12:12] hedefalk commented on #153
In all hopelessness I just want to point out that one difference in ensime-atom vs ensime-emacs at least is that ensime-atom currently sends file contents over the wire instead of writing out to file. I'm just about to fix that and I'm feeling somewhat hopeful that every issue atom has with false positives that emacs doesn't, will be gone.

[2016-02-08 13:05] hedefalk opened #154 "Use contentsIn instead of contents when sending server text editor content"

[2016-02-08 13:49] fommil commented on #153
we have special properties in the server that detect if the editor is worthy, and I'm sorry to say that Atom just isn't on the short list.

[2016-02-08 14:02] hedefalk commented on #116
Hm, I changed the behaviour of typechecking to save before and not send content over the wire and error persists. But I'll do the contentsIn thing anyways just for performance and consistency.

[2016-02-08 14:06] hedefalk commented on #153
`if(client != emacs) throw new WrongEditorException()``

My hope is gone: https://github.com/ensime/ensime-atom/issues/116#issuecomment-181382691

[2016-02-08 14:08] hedefalk commented on #116
Basically it doesn't help that I used:
- save file
- TypecheckFileReq without content or contentsIn

still fails on stuff like before `value day is not a member of Int`

[2016-02-08 15:13] ghost commented on #153
@hedefalk @fommil what does it mean to be 'worthy' for an editor? Isn't the repo name is 'ensime-atom' here?

[2016-02-08 15:58] fommil commented on #153
@stevendobay I'm just jesting non-emacs users :stuck_out_tongue_winking_eye:

[2016-02-08 16:27] ghost commented on #153
@fommil you got me :raised_hands:

[2016-02-08 17:58] laughedelic commented on #153
@fommil there is a very useful github emoji for such cases: :trollface: (`:trollface:`)

[2016-02-09 06:08] #90 closed

[2016-02-09 06:08] #146 closed

[2016-02-09 12:22] hamnis opened #156 "Unable to start ensime in Atom 1.4.3"
Unhandled promise rejection Promise with error: TypeError: Cannot read property 'register' of undefined

[2016-02-09 12:55] hedefalk commented on #156
@hamnis Crap, I made Atom dependent on linter. Now I've added it as an automatically installed package. I can't really make a release right now, would you be willing to just make the edit of https://github.com/hedefalk/ensime-atom/commit/a5755543f501c744e80f24c538584a16a9c47735 yourself and try again? Need to reload Atom.

[2016-02-09 14:26] mdedetrich opened #157 "Feature Request: Click on type inspections"
I noticed that when I tried using ensime-sublime, that its possible to click on the type that is shown when doing type inspections (screenshot is described below)
<img width="815" alt="screen shot 2016-02-10 at 1 25 09 am" src="https://cloud.githubusercontent.com/assets/2337269/12918813/2c49fd04-cf95-11e5-8290-36f29a9c2314.png">

As you can see, in sublime you can actually click on the type inspec

[2016-02-09 15:17] hamnis commented on #156
that didnt work for me at least :(

[2016-02-09 15:53] oleastre commented on #156
Edited directly package.json in the installed folder.
Although it did not worked immediately after restart; I disabled/re-enabled both ensime and linter packages, restarted atom and now, it seems to work.

[2016-02-09 15:58] laughedelic opened #158 "Stop only running Ensimes"
When I have an atom-project/window with several sbt-projects (each with `.ensime`), but only one is running, if I want to stop it, it's quite confusing to see that it offers me to choose from the list of all `.ensime`s. Would be nice
- to filter the list of `.ensime`s showing only those that are running
- if it's only one ensime instance, not showing the list at all (like with starting in the new

[2016-02-09 17:54] hedefalk commented on #156
Might be a npm install is needed to trigger that dep packages thing

[2016-02-09 18:18] leftofnull commented on #156
Just as a follow up, I was having the same issue even with the new build. I had already installed linter a while ago but had it disabled. Once I enabled linter, ensime plugin started working again.

[2016-02-09 22:08] #156 closed

[2016-02-09 22:08] #158 closed

[2016-02-09 23:50] laughedelic opened #160 "Some version crap"
It's not the first time I see this problem: after updating to a new version (and even relaunching atom), _**sometimes**_ when starting ensime, it shows me this message:

<img width="451" alt="screen shot 2016-02-10 at 00 48 08" src="https://cloud.githubusercontent.com/assets/766656/12934614/27def526-cf90-11e5-9db7-bacf23a19254.png">

The key point is at the bottom:

at the same time in the console

[2016-02-10 00:00] laughedelic commented on #160
In the settings:

<img width="814" alt="screen shot 2016-02-10 at 01 00 13" src="https://cloud.githubusercontent.com/assets/766656/12934820/b116d416-cf91-11e5-8987-ee55d51f5b81.png">

[2016-02-10 06:19] hedefalk commented on #156
I added linter as a dependency to be installed on activation of ensime. And I made it optional too so that inactivating doesn't break stuff.

[2016-02-10 06:24] hedefalk commented on #160
Whooops, "gen-ensime" is actual entirely removed so that error stack you will get any time you try that.

I might re-insert it now I have a view for selecting .ensime. I mean, that was why I removed it, doesn't make sense without first selecting one.

The other outdated version warning I don't understand at all.

[2016-02-10 07:15] hamnis opened #161 "ensime-server-update fails"
code => exitCode

https://github.com/ensime/ensime-atom/blob/master/lib/ensime-server-update.coffee#L82

[2016-02-10 08:25] d6y opened #162 "Remove left, top, bottom doc options"
...or find out how to make them work.

See: https://github.com/ensime/ensime-atom/pull/147#issuecomment-182138057

[2016-02-10 08:27] d6y commented on #154
I think this is done as part of https://github.com/ensime/ensime-atom/commit/a24c08544ca2c509a3e84adf43b8c1c1b5dd9d6d

Can be closed?

[2016-02-10 08:53] hedefalk commented on #161
Nice catch! So this happens when exit code is != 0 which means fail from sbt. I'll use this ticket to fix the "rename error", but did you get any exception log or error log from sbt on HOW it fails? please open a second ticket for that.

[2016-02-10 09:01] hedefalk commented on #160
Sorry, I'm super confused obviously. gen-ensime is a new command I added as a WIP to try to generate .ensime from build.sbt. It has never been implemented and was accidentally added to repo because I'm doing pretty sloppy "trunk development".

[2016-02-10 09:04] d6y commented on #145
How should the client decide the location of the monkeys jar?

Would it be like `repositories/snapshots/org/ensime/api_2.11/0.9.10-SNAPSHOT/api_2.11-0.9.10-SNAPSHOT.jar` (in the local ivy/coursier cache) only called "monkeys_2.11-0.9.10-SNAPSHOT.jar" or something?

[2016-02-10 09:06] hedefalk commented on #160
I don't know how you get the "undefined" of version no. It probably is read from the package.json. I get:

[code]

if I throw any exception.

My guess is that there's something going on with beta program here? To me packages are all the same. apm and apm-beta and all, it's just the folder `~/.atom/packages` anyways. Has this changed?

[2016-02-10 09:06] hedefalk commented on #160
I would suggest a bug to the error reporter if it isn't so that you tampered with the package a lot yourself…

[2016-02-10 09:12] hedefalk commented on #154
yes box!

[2016-02-10 09:12] #154 closed

[2016-02-10 09:16] hedefalk commented on #153
I'm going to close this as dupe of ensime/ensime-server#673.

However, I think that moving to contentsIn instead of contents has removed a whole bunch of false positives, at least for me. This in 0.35.0. @stevendobay please try it out and see if it's any better for you.

[2016-02-10 09:16] #153 closed

[2016-02-10 09:19] hedefalk commented on #145
I guess what Emacs does is on readup of classpathfile, like here:

https://github.com/ensime/ensime-atom/blob/master/lib/ensime-startup.coffee#L126

We tokenize on separator and then sort that list before re-concatenating and sending to JVM startup.

[2016-02-10 09:24] hedefalk commented on #145
@d6y You up for it? I'm gonna try to be better at assigning stuff to myself when I start working on it so I don't piss in someones pool.

Seems we're both on a close-ticket-spree :+1:

[2016-02-10 09:29] d6y commented on #145
Ok - so we _may_ get a monkeys.jar on the classpath, and if we do we need to make sure it's at the top.  And we're probably OK to just go [for anything called monkeys](https://github.com/ensime/ensime-emacs/commit/52db33ae0304952d2deac6f4467fbeeee75bc62b#diff-a960250fa1708a231295ef94c193eb41R243). And if there's no monkeys.jar that's fine.

I'll self-assign anything I'm actively working on.

So ha

[2016-02-10 09:33] hedefalk commented on #145
Yup, that's how I understand it.

I'll grab this one then, just wanted to make sure you hadn't started already. I've been really bad at assigning myself since I've been doing this in the closet for a while. But I'll try to better myself!

[2016-02-10 09:38] d6y commented on #145
Go for it! Thanks for checking.

[2016-02-10 09:53] hamnis commented on #161
Sorry, didnt keep that around. I fixed the bug locally and ran ensime start
again, but this time this didnt happen :(

[2016-02-10 09:56] hedefalk commented on #161
Ok, cool. I'll close this one then. Anyone experience this issue, please reopen.

[2016-02-10 09:56] #161 closed

[2016-02-10 10:22] fommil commented on #145
yeah, we literally put anything with `monkey` in the name first.

Doesn't it make for the best commit messages, ever?

[2016-02-10 11:31] ghost commented on #153
@hedefalk the errors are gone, and it works well, thanks! But the code completion doesn't show all possible methods just a few random after hitting the dot. Is this supposed to work that way?

[2016-02-10 12:15] hedefalk commented on #130
I'll close this since we use the linter API

[2016-02-10 12:15] #130 closed

[2016-02-10 12:18] hedefalk commented on #153
@stevendobay There's a setting for number of autocomplete suggestions. It's defaulted to 5 which maybe is a bit low. You can just go to package settings and change it up. I'll change the default from 5 to 10.

[2016-02-10 12:19] hedefalk commented on #153
I think they're prioritized from backend.

[2016-02-10 12:43] hedefalk commented on #145
@fommil does it have to be before tools.jar too or only first of the ones from the file?

[2016-02-10 12:53] fommil commented on #145
yes, before everything (future proofing)

[2016-02-10 13:39] ghost commented on #153
@hedefalk thanks!

[2016-02-10 13:56] #145 closed

[2016-02-10 13:56] #160 closed

[2016-02-10 15:22] laughedelic commented on #130
Yeah, linter is nicer than the old panel, but it doesn't have erros/warnings separation either...

[2016-02-10 15:29] laughedelic commented on #160
In ensime's plugin package.json the version is set to `0.35.0`.

I guess so. Anyway, it doesn't bother me so much, I just run `gen-ensime` from sbt.

[2016-02-10 15:31] hedefalk commented on #160
Cool! Yes, I removed the gen-ensime command that never worked anyways. I might try to fix one up later to do "select build folder" + "sbt gen-ensime" + "stop server" + "start server" + "start client" that can be called when say adding deps.

[2016-02-10 15:35] laughedelic commented on #160
:+1:
btw, I was a bit confused, when I'm changing deps and generating `.ensime`, I guess I have to relaunch the server, but should I remove the `.ensime_cache` folder?

[2016-02-10 15:41] hedefalk commented on #160
Hopefully you shouldn't have to, but I guess you'll sometimes struck corner
cases.

On Wed, Feb 10, 2016 at 4:35 PM Alexey Alekhin notifications@github.com
wrote:

[2016-02-10 16:01] laughedelic opened #164 "Presentation compiler crashes sometimes"
<img width="950" alt="screen shot 2016-02-10 at 16 58 45" src="https://cloud.githubusercontent.com/assets/766656/12952688/a019e762-d017-11e5-981e-f860af6b2373.png">

(sorry for the screenshot, I couldn't copy text from there)

Unfortunately I cannot show the code where is crashes, but it happened already several times and if I will encounter it on a smaller example, I'll let you know. After trigge

[2016-02-10 20:17] laughedelic opened #165 "Got to doc doesn't work"
Ensime "go to doc" just doesn't work (on anything), but when I tried "browse all docs", I got this error and both doc-related commands disappeared from the command palette (and didn't get back even after ensime relaunch)

**Atom Version**: 1.6.0-beta0
**System**: Mac OS X 10.11.1
**Thrown From**: [ensime](https://github.com/ensime/ensime-atom) package, vundefined

### Stack Trace

Uncaught Referen

[2016-02-10 22:03] d6y commented on #165
Yup bug - thanks for the report.  @hedefalk thanks, looks like you've got it covered.

[2016-02-10 22:27] d6y commented on #162
Some investigation:
- The "right" option will: use the right split pane if there is one, or create one if not.
- The "left" (and other options) don't behave like this, as discussed in [Can’t split left with atom.workspace.open?](https://discuss.atom.io/t/cant-split-left-with-atom-workspace-open/21678)

[Atom issue 9258](https://github.com/atom/atom/issues/9258) hints at possible future API which w

[2016-02-10 22:29] hedefalk commented on #165
Man, I forgot to self-assign again :.(

On Wed, Feb 10, 2016 at 11:03 PM Richard Dallaway notifications@github.com
wrote:

[2016-02-10 22:35] #162 closed

[2016-02-10 22:36] #165 closed

[2016-02-10 22:59] laughedelic commented on #165
Thanks for the quick fix. Looking at how fast you ~~break and~~ fix things, I start to think that I should report more, because most of the time ensime just doesn't work on my projects :sweat_smile:

[2016-02-11 06:38] hedefalk commented on #165
@laughedelic Yeah, sorry for that :) Please report any problems you struck!

Even if it's false positives (which I will move to ensime-server and then close as dup of ensime-server#673) it is good to have reports and test cases.

[2016-02-11 06:43] hedefalk commented on #164
Is there anything that you feel could be made better in the client? This is of course an upstream issue with the presentation compiler so I will close as such. If you could find a small repro I'd love to help by reporting it upstream to the compiler team.

The reason I stopped using scala-ide was in fact these pres. compiler crashes. In Eclipse, the only way to restart the compiler was to do a ful

[2016-02-11 06:43] #164 closed

[2016-02-11 09:18] hedefalk opened #168 "Task description: Use self-api of linter?"
I was thinking that we might have lost some possibilities using the linter API. One thing I was planning was to attach behaviors to errors and warning - say "quickfix". For instance, the command for import suggestions could be attached to the DOM element of an error if we had such an element. But typical usage of linter API doesn't provide that - we leave the entire rendering business to linter.

[2016-02-11 10:52] laughedelic commented on #165
:ok_hand:

[2016-02-11 10:55] laughedelic commented on #164
@hedefalk ok, fine. I think that it what could be better in the client is the current state indication. In this case it is completely unclear for me, what should I do: restart ensime, do clean-rebuild, or just continue working?

[2016-02-11 12:48] steelbrain commented on #168
Please note that compatibility of self-API is not guranteed and can be broken at any time (we've already broke most of it in the branch that is soon going to be merged).

If you want to provide buttons to linter, you can do so by giving an `HTMLElement` in the `html` field of the message, if you want to provide an autofix API for linter messages it's already plan and will soon be implemented (http

[2016-02-11 13:12] hedefalk commented on #168
@steelbrain Good to know! This was not on my immediate todo, but then I'll wait until something might stabilize as an official API. A button might be good enough actually. And then just have that button create a marker + decoration for some extra features or whatever.

Thanks!

[2016-02-11 17:34] laughedelic opened #169 "Go to doc silently doesn't work"
It's follow up of the #165. The problem with "Browse docs" was fixed and now it works fine. But "Go to doc" still doesn't work and doesn't report any errors. I don't know how I could provide more information, tell me which logs to look up..

[2016-02-11 17:41] laughedelic opened #170 "Go to definition doesn't work"
Same as in #169, just silently doesn't work (most of the time). Local symbols, standard library — doesn't matter. Just doesn't jump.. :cry:

[2016-02-11 17:51] d6y commented on #169
At the moment if we don't find documentation Atom will log "no doc" in the
developer console. I'm in the process of working through one of these cases
for an example I ran into (
https://github.com/ensime/ensime-server/issues/1281) and will update here
when I know what we need to do.

A thought: it might be good for us to find a way to signal in the ui that
we tried to lookup, but found no results

[2016-02-11 17:57] laughedelic commented on #169
It doesn't log anything in my case.
I think a warning notification would be enough for the beginning. Maybe a bit annoying, but better than nothing.

[2016-02-11 18:06] leftofnull opened #171 "Unable to Format Source with 0.35.1"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.5.1
**System**: Mac OS X 10.11.3
**Thrown From**: [ensime](https://github.com/ensime/ensime-atom) package, vundefined

### Stack Trace

Uncaught ReferenceError: b is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-11 22:19] hedefalk commented on #170
It works most of the time for me. Sometimes I struck the issue that server doesn't return a position - probably when I have no source attached. But for location symbols it really should be ok. I'll add a message here too…

[2016-02-11 22:21] #169 closed

[2016-02-11 22:21] #170 closed

[2016-02-11 22:21] #171 closed

[2016-02-13 14:06] hedefalk commented on #157
There are some UI things I would like to have as a "one-go" fix for this.
- A command to lock the current inspection to the DOM so that it doesn't dissappear on mouse move. I think the IDE's have something similar, maybe F2 rings a bell in Eclipse. And esc to detach it.
- We should then also use the short names (no packages on anything basically) and expand to fullNames on hover on the hover so to

[2016-02-13 14:22] hedefalk opened #173 "auto-install package deps doesn't work"

[2016-02-13 14:22] hedefalk opened #174 "<repeated>[T] should be formatted to T*"

[2016-02-13 14:25] #173 closed

[2016-02-13 14:25] #174 closed

[2016-02-15 12:18] mdedetrich commented on #157
Would it be smarter to make the tooltip disappear on mouse/keyboard click rather than mouse move by default? I think thats what most people would say is sensible

If you do have click on popup type to go to inspection, then you probably don't need to the full path to the type since clicking on the type will open the file (which will display the full type via package definition)

[2016-02-15 19:21] renghen commented on #113
Hi, I am getting he same issues on windows, what did you do to get it to work ???

[2016-02-15 19:33] gaydenko commented on #113
@renghen , exactly as written: have set full path to sbt in the package settings.

[2016-02-15 19:43] renghen commented on #113
thanks again it is working

[2016-02-17 11:39] alexandru opened #176 "Problem with Organize Imports"
Hello,

Given this piece of code:

[code]

When triggering the `Organize Imports` operation, the import of `TimeUnit` gets deleted.
This might be because it is used in an annotation. I was lazy enough to just copy/paste my code, but in case you want to reproduce, the `@OutputTimeUnit` annotation come from activating this plugin:

[code]

[2016-02-17 11:41] fommil commented on #176
can you please refile in https://github.com/scala-ide/scala-refactoring ?

[2016-02-17 11:41] #176 closed

[2016-02-17 11:41] hedefalk commented on #176
https://www.assembla.com/spaces/scala-ide/tickets/1001793-organize-imports-removes-import-referenced-from-an-annotation/details

[2016-02-17 11:43] alexandru commented on #176
OK, so it's a known issue in Scala IDE. Thanks.

[2016-02-17 11:47] hedefalk commented on #176
@alexandru I just wanted to link my google findings. The issue I linked is in Scala IDE as you say - this is Ensime. So the issue is really scala-refactorings and maybe the presentation compiler we all use.

Please report in scala-refactorings as @fommil asks. That would benefit us all.

Great catch! Shouldn't be stuffed away.

[2016-02-18 09:00] mdedetrich opened #177 "False positives on all imports (save file)"
When you save a file in a project when using ensime-atom, ensime then (incorrectly) reports all `import` statements as errors (you see red dots in the gutter). This consequently causes it to report all of the code as incorrect as well. Refer to the screenshot below.

<img width="836" alt="screen shot 2016-02-18 at 7 58 47 pm" src="https://cloud.githubusercontent.com/assets/2337269/13138244/1816748

[2016-02-18 09:25] hedefalk commented on #177
Hm, I cannot reproduce. Everything seems to work just fine.

<img width="738" alt="screen shot 2016-02-18 at 10 24 12" src="https://cloud.githubusercontent.com/assets/116520/13138871/d596d946-d629-11e5-9e19-693186b442d3.png">

[2016-02-18 09:27] mdedetrich commented on #177
Could an SBT plugin be messing with this?

EDIT: I will remove the git repo to start from scratch

[2016-02-18 09:33] hedefalk commented on #177
No idea. Just to be super sure, have you:
- rm -rf ~/.ivy2/cache/org.ensime
- rm -rf ~/.ivy2/local/org.ensime
- rm -rf [project]/.ensime_cache
- What version of ensime-sbt do you have? Use latest and greatest…

If problem persists, give me give me your .ensime too and I'll diff with mine…

[2016-02-18 09:42] rorygraves commented on #177
With red highlights everywhere this looks more like a presentation compiler crash.
@mdedetrich is it still happening for you, if so can you put the server logs into a gist?

[2016-02-18 10:07] hedefalk commented on #157
Well, the way ensime-sublime does it, this might make sense. In ensime-atom however, we show this tooltip all the time on mouse hover. So I think we gotta have a command to look a hover tooltip when it's displayed so it doesn't disappear when mouse is moved.

I'm working on this currently. I'm thinking a command (with default F2 binding) that is added temporarily to workspace when there's a type h

[2016-02-18 10:12] mdedetrich commented on #177
@rorygraves Where do you find the server logs?

Also this doesn't happen with ensime-sublime

[2016-02-18 10:13] hedefalk commented on #177
[project]/.ensime_cache/server.log

[2016-02-18 10:13] rorygraves commented on #177
Ha, was about to bounce this to @hedefalk  but he beat me to it ;)

[2016-02-18 10:14] hedefalk commented on #177
@rorygraves I'm ON TOP!

[2016-02-18 10:25] mdedetrich commented on #177
Ok, so now I must have nuked something, and I am globally getting `Error: Could not find or load main class org.ensime.server.Server` in the server.log

[2016-02-18 10:30] hedefalk commented on #177
Ah, sorry. After cleaning ivy you gotta rm
.atom/packages/Ensime/_classpath_ something to make ebsime-atom pull new.
Sorry on cell.

On Thu, Feb 18, 2016, 11:25 Matthew de Detrich notifications@github.com
wrote:

[2016-02-18 10:34] mdedetrich commented on #177
Ok, I got it working by making it bootstrap with ensime-sublime. Here is the log

https://gist.github.com/mdedetrich/e26f1cef35d2f79da569

Interesting part is this

[code]

For some reason, only ensime-atom actually causes the server to trigger this error. It doesn't happen with ensime-sublime

[2016-02-18 10:38] mdedetrich commented on #177
Here is another log you guys can look at https://gist.github.com/mdedetrich/c870bdd7dd35c5cc4162

[2016-02-18 11:04] rorygraves commented on #177
Oh that is interesting.
I'm guessing that

[code]

Means that looking at the code -

[code]

That sym.owner is cyclic in some way.

[2016-02-18 15:36] laughedelic opened #178 "Double status-message"
Sometimes I see this in the status bar:

<img width="1009" alt="screen shot 2016-02-18 at 16 33 46" src="https://cloud.githubusercontent.com/assets/766656/13148432/9b9dbac8-d65d-11e5-9af8-e622b0d187b8.png">

Then it disappears... I guess, if I do stop/start.

[2016-02-18 16:35] laughedelic opened #179 "A setting to turn off auto-installed dependencies"
Having dependencies installed automatically is a nice default behaviour, but hyperclick and browser-plus are not essential for Ensime, so if I uninstall them (because they slow down atom loading process), I don't want to get them back every time atom relaunches. Would be nice to have a setting to turn this off.

If I will have time on the weekend, I'll try to do it (but I can't promise). @hedefalk

[2016-02-18 19:40] josdirksen commented on #116
Hi, I ran into exactly the same issue with this. Basically for me it was this issue: https://github.com/ensime/ensime-server/issues/1176

For me upgrading to Scala 2.11.8-SNAPSHOT and building ensime-server against that solved the issue.

[2016-02-18 21:03] hedefalk commented on #116
@josdirksen Awesome! Thanks for pointing it out, I hadn't seen that server issue.

[2016-02-18 21:08] hedefalk commented on #116
I'll close this issue now then since it isn't anything we want to do really in ensime-atom other than to say:

TL;DR:
- If you have problems with these issues and 2.11.8 isn't here yet, just disable implicit markers in ensime-atom settings.

[2016-02-18 21:08] #116 closed

[2016-02-18 21:10] rorygraves commented on #116
Better to say 'and you can't upgrade to 2.11.8 ...

Some people get stuck on old versions.

[2016-02-18 21:38] laughedelic opened #180 "Autocompletion is not fuzzy"
If I disable ensime plugin and use the default autocompletion provider, it's fuzzy: when typing a rod, I can miss letters and it will still suggest options containing typed ones in the provided order. But with ensime-autocompletion I can't do that:
<img width="145" alt="screen shot 2016-02-18 at 22 34 09" src="https://cloud.githubusercontent.com/assets/766656/13159038/1fe6cc2a-d690-11e5-929e-8c1cb

[2016-02-18 21:50] hedefalk commented on #180
Yes, I've been meaning to either look into this deeper from a client perspective or report to ensime-server. When testing now, I think it's a server issue.

It's the same with SearchPublicSymbol:
<img width="529" alt="screen shot 2016-02-18 at 22 43 11" src="https://cloud.githubusercontent.com/assets/116520/13159355/a42bf734-d691-11e5-8b39-98fcc8e0c0e8.png">
<img width="577" alt="screen shot 2016-

[2016-02-18 21:55] hedefalk commented on #180
To be clear on what we ask for: tradition has it that snake case fuzzy search should match as long as the lower case letters doesn't contradict. I think like in this way:

As long as the lower case in between two upper case could be spread out in order. So "CetSP" should find "CertStoreParameters".

[2016-02-18 22:05] hedefalk commented on #179
Awesome! I'll give you a hint:

https://github.com/ensime/ensime-atom/blob//v0.35.3/lib/ensime.coffee#L120

[2016-02-19 07:32] hedefalk commented on #178
Hm, I've seen it some time, but I thought it was fixed. I think this gotta bad cleanup when multiple instances has been started. Did you open multiple .ensime:s or do you have only one in this Window?

[2016-02-19 08:37] d6y commented on #178
Possibly related: https://github.com/ensime/ensime-server/issues/1155 - I'm sorry to say I've not progressed that.

[2016-02-19 09:08] hedefalk commented on #178
I actually don't think it's related to the server issue. The  messages are displayed by a super simple component that is attached to the status bar at the bottom. It has to be that there for some reason are two of these attached.
https://github.com/hedefalk/ensime-atom/blame/master/lib/views/statusbar-view.coffee#L21-L22